<div class="navbar navbar-inverse navbar-fixed-top z-header nav-shadow" [ngClass]="className">
    <ap-search placeBottom="top-fixed" *ngIf="!hideSearch"></ap-search>
    <div class="navbar-header">
        <div asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand logo">
            <a onclick="window.location.reload()"><img class="navbar-brand logo" src="../images/LOGO CUADRADO.png" /></a>
        </div>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li class="nav-home"><a routerLink="/">Alta Perspectiva</a></li>
            <li><a routerLink="/question/home/1"><!--Questions-->Responder</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right" *ngIf="!_logObj.isLoggedIn && showUserInfo">
            <li><a href="/signin">Iniciar sesión <!--Log in--></a></li>
            <li><a href="/signin">Regístrate <!--Register--></a></li>
        </ul>
        <div class="nav navbar-right" *ngIf="_logObj.isLoggedIn && showUserInfo">
            <a href="#" class="dropdown-toggle fixed-height" data-toggle="dropdown" aria-expanded="false">
                <img class="user-image img-circle" src="{{_logObj.user.imageUrl}}" />                
                <span class="nav-user-info">{{_logObj.user.name}}</span>
            </a>
            <!-- ======= -->
            <div class="dropdown-menu dropdown-menu-right" role="menu">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <div><span class="fa fa-user"></span> <a (click)="gotoProfile()" for="contain" data-toggle="dropdown">Perfil <!--Profile--></a></div>
                    </div>
                    <div class="form-group">
                        <div><span class="fa fa-key"></span> <a href="{{authUrl}}+ '/Manage/ChangePassword'" for="contain"> Contraseña<!--Change Password--> </a></div>
                    </div>
                    <div class="form-group">
                        <div><span class="fa fa-sign-out"></span> <a href="/signout" for="contain">Cerrar sesión <!--Sign Out--> </a></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" (click)="togglemenu()">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
</div>
<!-- Space showing as it is floating element -->
<div style="margin-top:100px;"></div>