
<style>
    .background-img {
    background-image: url(../images/Backcground_1.png);
    width:100%;
    position:fixed;
    max-height: 63px;
    overflow: hidden;
    top:0;
}
    /*.form-horizontal {
        margin-left: 17px;
    }*/

</style>
<div class="background-img z-header">
    <img src="../images/Backcground_1.png" />
</div>
<div class="navbar navbar-inverse navbar-fixed-top z-header" [ngClass]="className">
    <div class="background-img">
        <!--<img src="../images/Backcground_1.png" />-->
    </div>
    <ap-search placeBottom="top-fixed"></ap-search>
    <div class="navbar-header">
        <div asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand logo">
            <img class="navbar-brand logo" src="../images/LOGO CUADRADO.png" />
        </div>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li class="nav-home"><a routerLink="/">Alta Perspectiva</a></li>
            <li><a routerLink="/question/home/1">Questions</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right" *ngIf="!_logObj.isLoggedIn">
            <li><a href="/signin">Log in</a></li>
            <li><a href="/signin">Register</a></li>
        </ul>
        <div class="nav navbar-right" *ngIf="_logObj.isLoggedIn">
            <a href="#" class="dropdown-toggle fixed-height" data-toggle="dropdown" aria-expanded="false">
                <img class="user-image img-circle" src="{{_logObj.user.imageUrl}}" />
                <span class="nav-user-info">{{_logObj.user.name}}</span>
            </a>
            <!-- ======= -->
            <div class="dropdown-menu dropdown-menu-right" role="menu">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <div class="lef-column padding-middle"><span class="fa fa-user"></span> <a (click)="gotoProfile()" for="contain" data-toggle="dropdown" class="padding-middle"> Profile</a></div>
                    </div>
                    <!--<a id="userUrl" href="http://altaauth.azurewebsites.net/Manage/ChangePassword"><span class="fa fa-key"></span> Change Password</a>-->
                    <div class="form-group">
                        <div class="lef-column padding-middle"><span class="fa fa-key"></span> <a href="http://altaauth.azurewebsites.net/Manage/ChangePassword" for="contain" class="padding-middle"> Change Password </a></div>
                    </div>
                    <div class="form-group">
                        <div class="lef-column padding-middle"><span class="fa fa-sign-out"></span> <a href="/signout" for="contain" class="padding-middle" > Sign Out </a></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" (click)="togglemenu()">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
</div>
<!-- Space showing as it is floating element -->
<div  style="margin-top:100px;"></div>