<style>
    .statistic-panel {
        min-height: 20vh;
        padding-right: 30%;
    }
    .statistic-panel ul{
        list-style:none;
        font-size:12px;
    }
    .profile-rightmenu {
        color: #9d9d9b;
        width: 100%;
        margin: 0 auto;
        border-top: 1px solid #eeeeee;
        padding-top: 10px;
        list-style: none;
    }
</style>
<div class="statistic-panel">
    <ul class="profile-rightmenu">
        <li>{{profileParam?.profileViewCount}} <!--Profile views-->Vistas de perfil </li>
        <li>{{profileParam?.questions}} <!--Answers views-->Respuestas vistas </li>
        <li>{{profileParam?.answerLikeCount}} <!--Answers Likes-->Me gusta </li>
        <li>{{profileParam?.answerMadeThisMonth}} <!--Answer made this month-->Respuestas este mes </li>
        <li>{{profileParam?.questionMadeThisMonth}} <!--Questions made this month-->Preguntas este mes </li>
    </ul>
</div>