<div class="profile-rightmenu">
    <hr style="width: 80%;">
    <ul class="statistic-panel stat-menu">
        <li>{{profileParam?.profileViewCount}} <!--Profile views-->Visitas al perfil </li>
        <li>{{profileParam?.questions}} <!--Answers views-->Veces leído </li>
        <li>{{profileParam?.answerLikeCount}} <!--Answers Likes-->Me gusta </li>
        <li>{{profileParam?.answerMadeThisMonth}} <!--Answer made this month-->Preguntas respondidas este mes </li>
        <li>{{profileParam?.questionMadeThisMonth}} <!--Questions made this month-->Preguntas realizadas este mes </li>
    </ul>
</div>