<style>
    .blog-edit-panel {
        width: 45%;
        margin: 5px auto;
        text-align: center;
    }

    .blog-post {
        text-align: left;
        margin-top: 10px;
    }

    .blog-header {
        text-align: center;
    }

    .blog-list {
        width: 60%;
        margin: 5px auto;
        cursor: pointer;
    }

    .btn-blog-edit {
        /*border-bottom: 1px solid #ece4e4;*/
        width: 100%;
        margin: 0 auto;
        text-align: right;
        padding-right: 3px;
        color: #908c8c;
        margin-bottom: 30px;
    }
    .blog-edit-panel h4{
        color: #908c8c;
    }
        .btn-blog-edit input {
            border-bottom: 1px solid #ece4e4;
            width: 86%;
            border-top: 1px;
            border-left: 1px;
            border-right: 1px;
            padding: 2px;
            
            text-align: center;
        }

    .transparent-input {
        border: 1px;
        width: 100%;
    }

    .txt-small-grey {
        color: #a4a1a1;
    }

    .margin-top-5 {
        margin-top: 5px;
    }
    @media only screen and (max-width:767px){
        .blog-list{
            width:95%;
        }
    }
</style>
<nav-bar></nav-bar>
<div #blogPostDetail></div>
<div id="toggleMenu" class="category-panel-xs">
    <div class="menu-container visible-xs">
        <div class="cloe-button">
            <a (click)="hideMenu()"> <i class="fa fa-arrow-left"></i> </a>
        </div>
        <ul class="left-panel-list">
            <li class=""><a routerLink="/">Alta Perspectiva</a></li>
            <li><a routerLink="/question/home/1">Questions</a></li>
        </ul>
    </div>

</div>
<div *ngIf="isOwner" class="blog-edit-panel">
    <h4 *ngIf="!isEditTitle">{{blog?.title}}</h4>
    <div class="btn-blog-edit">
        <div *ngIf="!isEditTitle">
            <a (click)="isEditTitle=true">editar</a>
        </div>
        <div *ngIf="isEditTitle">
            <input placeholder="update title" [(ngModel)]="blog.title" type="text" />
            <button class="btn btn-primary" (click)="updateTitle()">actualizar</button>
        </div>
    </div>
    <h4 *ngIf="!isEditDescription">{{blog?.description}}</h4>
    <div class="btn-blog-edit">
        <div *ngIf="!isEditDescription">
            <a (click)="isEditDescription=true">editar</a>
        </div>
        <div *ngIf="isEditDescription">
            <input placeholder="update description" [(ngModel)]="blog.description" type="text" />
            <button class="btn btn-primary" (click)="updateDescription()">actualizar </button>
        </div>

    </div>
    <!--<div><img class="profile-image" src="{{_logObj?.imageUrl}}" /></div>-->
    <h1>{{_logObj?.name}}</h1>
    <div class="txt-small-grey"><!--Write post-->Escribir artículo</div>
    <form (ngSubmit)="saveBlogPost()" #blogPostForm="ngForm">
        <div class="blog-post">
            <h1>
                <input class="transparent-input" id="title" [(ngModel)]="blogPost.title" required name="title"
                       #title="ngModel" placeholder="Añadir Cargo Título" />
            </h1>
            <div>
                <quill-editor [ngModelOptions]="{standalone: true}" placeholder="Escríbe aquí"
                              [modules]="{toolbar: [['bold', 'italic', 'underline'], ['link', 'image']]}"
                              id="description" [(ngModel)]="blogPost.description" name="description"></quill-editor>
                <button class="btn btn-alta-primary pull-right margin-top-5 btn-sm" [disabled]="!blogPostForm.form.valid"><!--Post Blog-->Publicar</button>
            </div>
        </div>
    </form>
    <div style="margin-bottom:50px"></div>
</div>
<br />
<br />
<div *ngIf="blogposts">
    <div style="margin-top:-50px"></div>
    <div class="blog-list" *ngFor="let post of blogposts">
        <hr />
        <br />
        <div class="blog-header" (click)="openPostDetailDialog(post)">
            <h2>{{post?.title}}</h2>
            <h4>{{post?.createdOn| date: 'dd MMM,yyyy'}}</h4>
        </div>
        <div>
            <div class="article-details">
                <div *ngIf="post?.description" (click)="openPostDetailDialog(post)">
                    <p [innerHTML]="post?.description.substring(0, 200)"></p><span><a>Read more..</a></span>
                </div>
                <div *ngIf="post">
                    <post-status [blogPost]="post"></post-status>
                    <blogpost-comment [blogPost]="post"></blogpost-comment>
                </div>
            </div>
        </div>
    </div>
</div>