<div class="row">
    <div class="collapse comment-panel" id="postComment{{blogPost.id}}">
        <form #commentForm="ngForm" class="form-horizontal " role="form">
            <div class="comment-input">
                <img class="user-image" src="../../../../profile/{{_logObj.user.imageUrl?_logObj.user.imageUrl:'avatar.png'}}" />
                <input class="form-control" id="comment" [(ngModel)]="comment.commentText" [ngModelOptions]="{standalone: true}" />
                <button type="button" class="btn btn-primary" (click)="submitComment(blogPost.id)">Comment</button>
            </div>
        </form>
        <div class="card card-block">
            <div *ngFor="let comment of comments" class="clearfix">
                <hr />
                <div *ngIf="comment">
                    <img class="user-image comment-img" src="../../../../profile/{{comment?.user?.imageUrl}}" />
                    <div class="header-info">{{comment?.user?.name}}</div>
                    <p class="answer-text">{{comment.commentText}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
