<div class="status-panel">
    <div>
        <img *ngIf="blogPost?.likes?.length<1" src='../images/fade-logo.png' onmouseover="this.src = '../images/like-logo.png';" onmouseout="this.src = '../images/fade-logo.png';" />
        <img *ngIf="blogPost?.likes?.length>0" src='../images/like-logo.png' />
        <a href="#"  data-toggle='modal'  attr.data-target="#likeModal{{blogPost.id}}" class="status-line number-box" (click)="showLikeUserDetails()">{{blogPost?.likes?.length}} </a>
        <a (click)="submitLike(blogpost?.id)"><div class="status-line">{{blogPost?.likes?.length>1?'Me gustas':'Me gusta'}}</div></a>
        <div class="status-line like-border"></div>
        <div class="status-line number-box">{{blogPost?.blogViewCount? blogPost?.blogViewCount:0}}</div>
        <div class="status-line">Leidos</div>
        <div class="status-line number-box hidden-xs">
            {{blogPost.comments.length}}
        </div>
        <a class="status-line hidden-xs" data-toggle="collapse" aria-expanded="false" attr.data-target="#postComment{{blogPost.id}}">Comentarios</a>

        <div class="social-icon">
            <a href="https://www.facebook.com/sharer/sharer.php?u={{blogpost?.sharedUrl}}"
               class="SHARE FACEBOOK"
               onclick='window.open(this.href, "popupwindow", "width=800,height=500,left=200,top=5,scrollbars,toolbar=0,resizable");return false;' target="social">
                <img class="social-image" id="img1" src="../images/facebooklogo.jpg" />
            </a>

            <a href="https://twitter.com/home?status={{blogpost?.shareUrl}}"
               class="SHARE TWITTER"
               onclick='window.open(this.href, "popupwindow", "width=800,height=500,left=200,top=5,scrollbars,toolbar=0,resizable");return false;' target="social">
                <img class="social-image" id="img2" src="../images/twitter.png" />
            </a>
        </div>
    </div>
</div>
