@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<h2>@ViewData["Title"].</h2>
<div class="col-md-6 col-md-offset-3">
    <form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-horizontal" role="form">
        <h4>Ingresa tu correo electrónico.</h4>
        <hr />
        @*<div asp-validation-summary="All" class="text-danger"></div>*@
        <div class="form-group">
            <label class="col-md-3 control-label">Correo electrónico @*Emali*@</label>
            <div class="col-md-8">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-3 col-md-10">
                <button type="submit" class="btn btn-default">@*Submit*@Enviar</button>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
