@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Iniciar sesión";
}

<style>
    .form-horizontal {
        border-radius: 10px;
    }

    .login-header {
        text-align: center;
        margin-bottom: 26px;
        color: #5491c6;
        font-size: 21px;
    }

    .form-control {
        background-color: #cccccc;
        height: 41px;
        border-radius: 7px;
    }

    .btn-default {
        background-color: #fba409;
        border-radius: 10px;
        height: 45px;
        font-size: 21px;
        min-width: 174px;
    }

    .forget-password {
        margin-left: 4px;
    }

    .sign-up {
        text-align: center;
    }
</style>
<div class="row">

    <div class="col-md-4 col-md-offset-4 loginForm">

        <section>
            <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">

                <div class="sign-up">@*Don't have an account?*@ ¿Aún no estás registrado?  <a href='@Url.Action("Register", "Account", new { returnUrl=ViewData["ReturnUrl"]})'>@*Sign up here*@Regístrate aquí</a></div>
                <h2 class="login-header">
                    @*Log in*@Iniciar sesión
                </h2>

                
                @{
                    if (ViewBag.Message != null)
                    {
                        <h4 class="col-md-offset-1">
                            <span class="text-danger"> @ViewBag.Message </span>
                        </h4>
                        ViewBag.Message = null;
                    }
                }

                <div class="form-group">
                    <div class="col-sm-offset-1 col-md-10">
                        <input asp-for="Email" placeholder="Ingresa tu correo electrónico" class="form-control" id="email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-1 col-md-10">
                        <input asp-for="Password" placeholder="Contraseña" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-1 col-md-10">
                        <button type="submit" class="btn btn-default">@*Log in*@Iniciar sesión</button>
                    </div>
                </div>
                <p class="col-sm-offset-1">
                    <a asp-action="ForgotPassword" class="forget-password">@*Forgot password?*@¿Olvidaste tu contraseña?</a>
                </p>
            </form>
        </section>
    </div>
    <div class="col-md-3">
    </div>
</div>
<script>
    window.setTimeout(function () {
        document.getElementById('email').focus();
    }, 0);
</script>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
