@{
    ViewData["Title"] = "Restablecer la confirmación de contraseña";
}
<div class="col-md-6 col-md-offset-3">
    <form class="form-horizontal" role="form">
        <h1>@ViewData["Title"].</h1>
        <hr />
        <div class="form-group">
            <div class="col-md-10">
                Tu contraseña ha sido restablecida. Por favor <a href="http://www.altaperspectiva.com/">Haga clic aquí para ingresar</a>.
            </div>

        </div>
    </form>
</div>
