USE [master]
GO
/****** Object:  Database [AltaPerspectiva]    Script Date: 12/8/2016 5:04:11 PM ******/
CREATE DATABASE [AltaPerspectiva]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AltaPerspectiva', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\AltaPerspectiva.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'AltaPerspectiva_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\AltaPerspectiva_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AltaPerspectiva].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AltaPerspectiva]
GO
/****** Object:  Schema [Identity]    Script Date: 12/8/2016 5:04:11 PM ******/
CREATE SCHEMA [Identity]
GO
/****** Object:  Schema [Questions]    Script Date: 12/8/2016 5:04:11 PM ******/
CREATE SCHEMA [Questions]
GO
/****** Object:  Table [Identity].[AspNetRoleClaims]    Script Date: 12/8/2016 5:04:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Identity].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [Identity].[AspNetRoles]    Script Date: 12/8/2016 5:04:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Identity].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [Identity].[AspNetUserClaims]    Script Date: 12/8/2016 5:04:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Identity].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [Identity].[AspNetUserLogins]    Script Date: 12/8/2016 5:04:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Identity].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [Identity].[AspNetUserRoles]    Script Date: 12/8/2016 5:04:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Identity].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [Identity].[AspNetUsers]    Script Date: 12/8/2016 5:04:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Identity].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[Name] [nvarchar](max) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[UserName] [nvarchar](256) NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [Identity].[AspNetUserTokens]    Script Date: 12/8/2016 5:04:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Identity].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [Identity].[OpenIddictApplications]    Script Date: 12/8/2016 5:04:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Identity].[OpenIddictApplications](
	[Id] [nvarchar](450) NOT NULL,
	[ClientId] [nvarchar](450) NULL,
	[ClientSecret] [nvarchar](max) NULL,
	[DisplayName] [nvarchar](max) NULL,
	[LogoutRedirectUri] [nvarchar](max) NULL,
	[RedirectUri] [nvarchar](max) NULL,
	[Type] [nvarchar](max) NULL,
 CONSTRAINT [PK_OpenIddictApplications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [Identity].[OpenIddictAuthorizations]    Script Date: 12/8/2016 5:04:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Identity].[OpenIddictAuthorizations](
	[Id] [nvarchar](450) NOT NULL,
	[Scope] [nvarchar](max) NULL,
 CONSTRAINT [PK_OpenIddictAuthorizations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [Identity].[OpenIddictScopes]    Script Date: 12/8/2016 5:04:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Identity].[OpenIddictScopes](
	[Id] [nvarchar](450) NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_OpenIddictScopes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [Identity].[OpenIddictTokens]    Script Date: 12/8/2016 5:04:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Identity].[OpenIddictTokens](
	[Id] [nvarchar](450) NOT NULL,
	[ApplicationId] [nvarchar](450) NULL,
	[AuthorizationId] [nvarchar](450) NULL,
	[Type] [nvarchar](max) NULL,
 CONSTRAINT [PK_OpenIddictTokens] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [Questions].[Answers]    Script Date: 12/8/2016 5:04:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Questions].[Answers](
	[Id] [uniqueidentifier] NOT NULL,
	[AnswerDate] [datetime2](7) NOT NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[CreatedOn] [datetime2](7) NULL,
	[DTS] [datetime2](7) NOT NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[ModifiedOn] [datetime2](7) NULL,
	[QuestionId] [uniqueidentifier] NULL,
	[Text] [nvarchar](max) NULL,
	[UserId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Answers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [Questions].[Categories]    Script Date: 12/8/2016 5:04:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Questions].[Categories](
	[Id] [uniqueidentifier] NOT NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[CreatedOn] [datetime2](7) NULL,
	[DTS] [datetime2](7) NOT NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[ModifiedOn] [datetime2](7) NULL,
	[Name] [nvarchar](max) NULL,
	[Icon] [varchar](50) NULL,
	[Active] [varchar](20) NULL,
	[Sequence] [int] NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [Questions].[Comments]    Script Date: 12/8/2016 5:04:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Questions].[Comments](
	[Id] [uniqueidentifier] NOT NULL,
	[AnswerId] [uniqueidentifier] NULL,
	[CommentDate] [datetime2](7) NOT NULL,
	[CommentText] [nvarchar](max) NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[CreatedOn] [datetime2](7) NULL,
	[DTS] [datetime2](7) NOT NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[ModifiedOn] [datetime2](7) NULL,
	[QuestionID] [uniqueidentifier] NULL,
	[UserId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Comments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [Questions].[Keywords]    Script Date: 12/8/2016 5:04:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Questions].[Keywords](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Text] [varchar](250) NOT NULL,
	[CategoryId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Keywords] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [Questions].[Likes]    Script Date: 12/8/2016 5:04:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Questions].[Likes](
	[Id] [uniqueidentifier] NOT NULL,
	[AnswerId] [uniqueidentifier] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[CreatedOn] [datetime2](7) NULL,
	[DTS] [datetime2](7) NOT NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[ModifiedOn] [datetime2](7) NULL,
	[QuestionId] [uniqueidentifier] NULL,
	[UserId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Likes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [Questions].[QuestionCategories]    Script Date: 12/8/2016 5:04:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Questions].[QuestionCategories](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CategoryId] [uniqueidentifier] NOT NULL,
	[QuestionId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_QuestionCategories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [Questions].[Questions]    Script Date: 12/8/2016 5:04:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Questions].[Questions](
	[Id] [uniqueidentifier] NOT NULL,
	[Body] [nvarchar](max) NOT NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[CreatedOn] [datetime2](7) NULL,
	[DTS] [datetime2](7) NOT NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[ModifiedOn] [datetime2](7) NULL,
	[Title] [nvarchar](max) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[ViewCount] [int] NULL,
 CONSTRAINT [PK_Questions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [Identity].[OpenIddictApplications] ([Id], [ClientId], [ClientSecret], [DisplayName], [LogoutRedirectUri], [RedirectUri], [Type]) VALUES (N'b3e7c2ed-5f2d-4d55-adf6-57c9d8816a0f', N'azure', N'AQAAAAEAACcQAAAAENLlDJMyK11Broa+9V/j7h4dU6ntRUnnbmfe6BzeAa/Vm8M3q8yvVLQwQ8U5DV79fg==', N'Azure Application', N'http://altap.azurewebsites.net/', N'http://altap.azurewebsites.net/signin-oidc', N'confidential')
INSERT [Identity].[OpenIddictApplications] ([Id], [ClientId], [ClientSecret], [DisplayName], [LogoutRedirectUri], [RedirectUri], [Type]) VALUES (N'ba2a59dd-a966-4d2c-9973-b9b59738d88d', N'localhost', N'AQAAAAEAACcQAAAAEDDMgiepnktK3GD3Oh1/0yr5Xdt9rCMsokCBVx31p8v8tKlYK3fGrYGAhXPyZ+wKPQ==', N'LocalHost Application', N'http://localhost:5273/', N'http://localhost:5273/signin-oidc', N'confidential')
INSERT [Identity].[OpenIddictTokens] ([Id], [ApplicationId], [AuthorizationId], [Type]) VALUES (N'084067a8-4529-4138-9295-d92fc6fc7593', NULL, NULL, N'refresh_token')
INSERT [Identity].[OpenIddictTokens] ([Id], [ApplicationId], [AuthorizationId], [Type]) VALUES (N'19e232b9-26b0-4e4d-a22b-98177941c3f2', NULL, NULL, N'refresh_token')
INSERT [Identity].[OpenIddictTokens] ([Id], [ApplicationId], [AuthorizationId], [Type]) VALUES (N'1c396057-e320-42ff-93ae-613faf32b4e3', NULL, NULL, N'refresh_token')
INSERT [Questions].[Answers] ([Id], [AnswerDate], [CreatedBy], [CreatedOn], [DTS], [IsActive], [IsDeleted], [ModifiedBy], [ModifiedOn], [QuestionId], [Text], [UserId]) VALUES (N'f0090b55-335f-cbb1-2b09-08d41d1dcb34', CAST(N'0001-01-01 00:00:00.0000000' AS DateTime2), N'9f5b4ead-f9e7-49da-b0fa-1683195cfcba', CAST(N'2016-12-05 20:48:36.6533385' AS DateTime2), CAST(N'2016-12-05 20:48:36.6533385' AS DateTime2), NULL, NULL, NULL, NULL, N'5779375c-2fb3-cb9f-c75e-08d41ab4bbe7', N'<p>This is not the last question.</p>
', N'9f5b4ead-f9e7-49da-b0fa-1683195cfcba')
INSERT [Questions].[Categories] ([Id], [CreatedBy], [CreatedOn], [DTS], [IsActive], [IsDeleted], [ModifiedBy], [ModifiedOn], [Name], [Icon], [Active], [Sequence], [Description]) VALUES (N'2c0c97ff-00b7-4a3e-9dfd-0dd69ceafd0f', NULL, NULL, CAST(N'2016-11-23 00:00:00.0000000' AS DateTime2), NULL, NULL, NULL, NULL, N'economía', N'icon-chart', NULL, 2, NULL)
INSERT [Questions].[Categories] ([Id], [CreatedBy], [CreatedOn], [DTS], [IsActive], [IsDeleted], [ModifiedBy], [ModifiedOn], [Name], [Icon], [Active], [Sequence], [Description]) VALUES (N'722efc46-dd1a-4ed7-9fb9-1133566a210e', NULL, NULL, CAST(N'2016-11-23 00:00:00.0000000' AS DateTime2), NULL, NULL, NULL, NULL, N'Producción', N'icon-dice', NULL, 3, NULL)
INSERT [Questions].[Categories] ([Id], [CreatedBy], [CreatedOn], [DTS], [IsActive], [IsDeleted], [ModifiedBy], [ModifiedOn], [Name], [Icon], [Active], [Sequence], [Description]) VALUES (N'7639b416-8d1c-4119-b58e-143cb860e8a6', NULL, NULL, CAST(N'2016-11-23 00:00:00.0000000' AS DateTime2), NULL, NULL, NULL, NULL, N'Ver todas', N'icon-star', N'active', 1, NULL)
SET IDENTITY_INSERT [Questions].[Keywords] ON 

INSERT [Questions].[Keywords] ([Id], [Text], [CategoryId]) VALUES (1, N'Demanda

', N'2c0c97ff-00b7-4a3e-9dfd-0dd69ceafd0f')
INSERT [Questions].[Keywords] ([Id], [Text], [CategoryId]) VALUES (2, N'Finanzas personales', N'4aa7344b-9224-48b3-95cf-bfd25485debb')
INSERT [Questions].[Keywords] ([Id], [Text], [CategoryId]) VALUES (119, N'Ahorro', N'4aa7344b-9224-48b3-95cf-bfd25485debb')
GO
SET IDENTITY_INSERT [Questions].[Keywords] OFF
SET IDENTITY_INSERT [Questions].[QuestionCategories] ON 

INSERT [Questions].[QuestionCategories] ([Id], [CategoryId], [QuestionId]) VALUES (1, N'4aa7344b-9224-48b3-95cf-bfd25485debb', N'01e92b7f-461a-c467-4591-08d4186efbfd')
INSERT [Questions].[QuestionCategories] ([Id], [CategoryId], [QuestionId]) VALUES (2, N'084067a8-4529-4138-9295-d92fc6fc7593', N'01e92b7f-461a-c467-4591-08d4186efbfd')
INSERT [Questions].[QuestionCategories] ([Id], [CategoryId], [QuestionId]) VALUES (3, N'4cfe14a9-a671-4acd-a256-563f7aad6f61', N'01e92b7f-461a-c467-4591-08d4186efbfd')
GO
SET IDENTITY_INSERT [Questions].[QuestionCategories] OFF
INSERT [Questions].[Questions] ([Id], [Body], [CreatedBy], [CreatedOn], [DTS], [IsActive], [IsDeleted], [ModifiedBy], [ModifiedOn], [Title], [UserId], [ViewCount]) VALUES (N'01e92b7f-461a-c467-4591-08d4186efbfd', N'<p>Question details</p>', N'9f5b4ead-f9e7-49da-b0fa-1683195cfcba', CAST(N'2016-11-29 21:47:06.6036679' AS DateTime2), CAST(N'2016-11-29 21:47:06.6036679' AS DateTime2), NULL, NULL, NULL, NULL, N'Cómo puedo desarrollar mi creatividad?', N'9f5b4ead-f9e7-49da-b0fa-1683195cfcba', NULL)
INSERT [Questions].[Questions] ([Id], [Body], [CreatedBy], [CreatedOn], [DTS], [IsActive], [IsDeleted], [ModifiedBy], [ModifiedOn], [Title], [UserId], [ViewCount]) VALUES (N'c8e36b7e-4867-c334-29a8-08d418798389', N'<p>Question details</p>', N'9f5b4ead-f9e7-49da-b0fa-1683195cfcba', CAST(N'2016-11-29 23:02:29.8622434' AS DateTime2), CAST(N'2016-11-29 23:02:29.8622434' AS DateTime2), NULL, NULL, NULL, NULL, N'Por qué es importante seleccionar bien el nombre de mi empresa?', N'9f5b4ead-f9e7-49da-b0fa-1683195cfcba', NULL)
INSERT [Questions].[Questions] ([Id], [Body], [CreatedBy], [CreatedOn], [DTS], [IsActive], [IsDeleted], [ModifiedBy], [ModifiedOn], [Title], [UserId], [ViewCount]) VALUES (N'77a47ab7-078a-cf1a-23cd-08d4187a7682', N'<p>Question details</p>', N'9f5b4ead-f9e7-49da-b0fa-1683195cfcba', CAST(N'2016-11-29 23:09:21.9034643' AS DateTime2), CAST(N'2016-11-29 23:09:21.9034643' AS DateTime2), NULL, NULL, NULL, NULL, N'En qué piensan los tres mejores CEOs del mundo? ¿Cultura, liderazgo, millennials?', N'9f5b4ead-f9e7-49da-b0fa-1683195cfcba', NULL)
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 12/8/2016 5:04:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [Identity].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [RoleNameIndex]    Script Date: 12/8/2016 5:04:11 PM ******/
CREATE NONCLUSTERED INDEX [RoleNameIndex] ON [Identity].[AspNetRoles]
(
	[NormalizedName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 12/8/2016 5:04:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [Identity].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 12/8/2016 5:04:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [Identity].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 12/8/2016 5:04:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [Identity].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_AspNetUserRoles_UserId]    Script Date: 12/8/2016 5:04:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_UserId] ON [Identity].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [EmailIndex]    Script Date: 12/8/2016 5:04:11 PM ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [Identity].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UserNameIndex]    Script Date: 12/8/2016 5:04:11 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [Identity].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_OpenIddictApplications_ClientId]    Script Date: 12/8/2016 5:04:11 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_OpenIddictApplications_ClientId] ON [Identity].[OpenIddictApplications]
(
	[ClientId] ASC
)
WHERE ([ClientId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_OpenIddictTokens_ApplicationId]    Script Date: 12/8/2016 5:04:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_OpenIddictTokens_ApplicationId] ON [Identity].[OpenIddictTokens]
(
	[ApplicationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_OpenIddictTokens_AuthorizationId]    Script Date: 12/8/2016 5:04:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_OpenIddictTokens_AuthorizationId] ON [Identity].[OpenIddictTokens]
(
	[AuthorizationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Answers_QuestionId]    Script Date: 12/8/2016 5:04:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_Answers_QuestionId] ON [Questions].[Answers]
(
	[QuestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Comments_AnswerId]    Script Date: 12/8/2016 5:04:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_Comments_AnswerId] ON [Questions].[Comments]
(
	[AnswerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Comments_QuestionID]    Script Date: 12/8/2016 5:04:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_Comments_QuestionID] ON [Questions].[Comments]
(
	[QuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Likes_AnswerId]    Script Date: 12/8/2016 5:04:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_Likes_AnswerId] ON [Questions].[Likes]
(
	[AnswerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Likes_QuestionId]    Script Date: 12/8/2016 5:04:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_Likes_QuestionId] ON [Questions].[Likes]
(
	[QuestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [Identity].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [Identity].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [Identity].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [Identity].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [Identity].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [Identity].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [Identity].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [Identity].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [Identity].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [Identity].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [Identity].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [Identity].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [Identity].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [Identity].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [Identity].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [Identity].[OpenIddictTokens]  WITH CHECK ADD  CONSTRAINT [FK_OpenIddictTokens_OpenIddictApplications_ApplicationId] FOREIGN KEY([ApplicationId])
REFERENCES [Identity].[OpenIddictApplications] ([Id])
GO
ALTER TABLE [Identity].[OpenIddictTokens] CHECK CONSTRAINT [FK_OpenIddictTokens_OpenIddictApplications_ApplicationId]
GO
ALTER TABLE [Identity].[OpenIddictTokens]  WITH CHECK ADD  CONSTRAINT [FK_OpenIddictTokens_OpenIddictAuthorizations_AuthorizationId] FOREIGN KEY([AuthorizationId])
REFERENCES [Identity].[OpenIddictAuthorizations] ([Id])
GO
ALTER TABLE [Identity].[OpenIddictTokens] CHECK CONSTRAINT [FK_OpenIddictTokens_OpenIddictAuthorizations_AuthorizationId]
GO
ALTER TABLE [Questions].[Answers]  WITH CHECK ADD  CONSTRAINT [FK_Answers_Questions_QuestionId] FOREIGN KEY([QuestionId])
REFERENCES [Questions].[Questions] ([Id])
GO
ALTER TABLE [Questions].[Answers] CHECK CONSTRAINT [FK_Answers_Questions_QuestionId]
GO
ALTER TABLE [Questions].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Answers_AnswerId] FOREIGN KEY([AnswerId])
REFERENCES [Questions].[Answers] ([Id])
GO
ALTER TABLE [Questions].[Comments] CHECK CONSTRAINT [FK_Comments_Answers_AnswerId]
GO
ALTER TABLE [Questions].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Questions_QuestionID] FOREIGN KEY([QuestionID])
REFERENCES [Questions].[Questions] ([Id])
GO
ALTER TABLE [Questions].[Comments] CHECK CONSTRAINT [FK_Comments_Questions_QuestionID]
GO
ALTER TABLE [Questions].[Keywords]  WITH CHECK ADD  CONSTRAINT [FK_Keywords_Categories] FOREIGN KEY([CategoryId])
REFERENCES [Questions].[Categories] ([Id])
GO
ALTER TABLE [Questions].[Keywords] CHECK CONSTRAINT [FK_Keywords_Categories]
GO
ALTER TABLE [Questions].[Likes]  WITH CHECK ADD  CONSTRAINT [FK_Likes_Answers_AnswerId] FOREIGN KEY([AnswerId])
REFERENCES [Questions].[Answers] ([Id])
GO
ALTER TABLE [Questions].[Likes] CHECK CONSTRAINT [FK_Likes_Answers_AnswerId]
GO
ALTER TABLE [Questions].[Likes]  WITH CHECK ADD  CONSTRAINT [FK_Likes_Questions_QuestionId] FOREIGN KEY([QuestionId])
REFERENCES [Questions].[Questions] ([Id])
GO
ALTER TABLE [Questions].[Likes] CHECK CONSTRAINT [FK_Likes_Questions_QuestionId]
GO
ALTER TABLE [Questions].[QuestionCategories]  WITH CHECK ADD  CONSTRAINT [FK_QuestionCategories_Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [Questions].[Categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [Questions].[QuestionCategories] CHECK CONSTRAINT [FK_QuestionCategories_Categories_CategoryId]
GO
ALTER TABLE [Questions].[QuestionCategories]  WITH CHECK ADD  CONSTRAINT [FK_QuestionCategories_Questions_QuestionId] FOREIGN KEY([QuestionId])
REFERENCES [Questions].[Questions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [Questions].[QuestionCategories] CHECK CONSTRAINT [FK_QuestionCategories_Questions_QuestionId]
GO
USE [master]
GO
