<div class="panel panel-default">
    <div class="panel-body text-center">
        <div id="fallbackPanel" class="collapse">
            <span class="dropdown text-center">
                <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                    QuickView
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Custom</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Week</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Month</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Last 1 Month</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Last 3 Months</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Last 1 Year</a></li>
                </ul>
            </span>

            <span class="dropdown text-center">
                <button class="btn btn-default dropdown-toggle" type="button" id="menu2" data-toggle="dropdown">
                    Interval
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="menu2">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Day</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Week</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Month</a></li>
                </ul>
            </span>
        </div>

        <button type="button" id="more" data-toggle="collapse" data-target="#fallbackPanel" class="btn btn-transparent center-block">
            <span class="glyphicon glyphicon-chevron-down"></span>
        </button>


    </div>

</div>
