AltaPerspectiva/.vs/AltaPerspectiva/v14/.suo
AltaPerspectiva/.vs
AltaPerspectiva/src/AltaPerspectiva.Core/obj/
AltaPerspectiva/src/AltaPerspectiva.Core/bin/
AltaPerspectiva/src/Questions.Query/obj/
AltaPerspectiva/src/Questions.Query/bin/
AltaPerspectiva/src/Questions.Command/bin/
AltaPerspectiva/src/AltaPerspectiva.Web/bin/
AltaPerspectiva/src/AltaPerspectiva.Web/obj/
AltaPerspectiva/src/AltaPerspectiva.Web/wwwroot/css
AltaPerspectiva/src/AltaPerspectiva.Web/wwwroot/images
AltaPerspectiva/src/AltaPerspectiva.Web/wwwroot/js
AltaPerspectiva/src/AltaPerspectiva.Web/wwwroot/libs
AltaPerspectiva/src/AltaPerspectiva.Web/wwwroot/lib
AltaPerspectiva/src/AltaPerspectiva.Web/wwwroot/Scripts
AltaPerspectiva/src/Questions.Command/obj/
AltaPerspectiva/src/AltaPerspectiva.Web/bower_components/
AltaPerspectiva/src/AltaPerspectiva.Web/node_modules/
AltaPerspectiva/src/AltaPerspectiva.Web/node_modules
AltaPerspectiva/src/Questions.Query/Questions.Query.xproj.user
AltaPerspectiva/src/AltaPerspectiva.Core/AltaPerspectiva.Core.xproj.user
AltaPerspectiva/src/AltaPerspectiva.Web/AltaPerspectiva.Web.xproj.user
AltaPerspectiva/src/Questions.Command/Questions.Command.xproj.user
/AltaPerspectiva/src/AltaPerspectiva.Identity/Properties
/AltaPerspectiva/src/AltaPerspectiva.Identity/bin/Debug/netstandard1.6
/AltaPerspectiva/src/AltaPerspectiva.Identity/obj/Debug/netstandard1.6/.IncrementalCache
/AltaPerspectiva/src/AltaPerspectiva.Identity/obj/Debug/netstandard1.6/.SDKVersion
/AltaPerspectiva/src/AltaPerspectiva.Identity/obj/Debug/netstandard1.6/dotnet-compile-csc.rsp
/AltaPerspectiva/src/AltaPerspectiva.Identity/obj/Debug/netstandard1.6/dotnet-compile.assemblyinfo.cs
/AltaPerspectiva/src/AltaPerspectiva.Identity/obj/Debug/netstandard1.6/dotnet-compile.rsp
/AltaPerspectiva/src/AltaPerspectiva.Web/project.lock.json
AltaPerspectiva/src/AltaPerspectiva.Identity/project.lock.json
/AltaPerspectiva/src/AltaPerspectiva.Infrastructure/bin/Debug/netstandard1.6/AltaPerspectiva.Infrastructure.deps.json
/AltaPerspectiva/src/AltaPerspectiva.Infrastructure/obj/Debug/netstandard1.6/*.rsp
/AltaPerspectiva/src/AltaPerspectiva.Infrastructure/obj/Debug/netstandard1.6/*.IncrementalCache
/AltaPerspectiva/src/AltaPerspectiva.Infrastructure/obj/Debug/netstandard1.6/*.SDKVersion
/AltaPerspectiva/src/AltaPerspectiva.Infrastructure/obj/Debug/netstandard1.6/dotnet-compile.assemblyinfo.cs
/AltaPerspectiva/src/AltaPerspectiva.Identity/bin/Release/netstandard1.6/AltaPerspectiva.Identity.deps.json
/AltaPerspectiva/src/AltaPerspectiva.Identity/obj/Release/netstandard1.6/.IncrementalCache
/AltaPerspectiva/src/AltaPerspectiva.Identity/obj/Release/netstandard1.6/.SDKVersion
/AltaPerspectiva/src/AltaPerspectiva.Identity/obj/Release/netstandard1.6/dotnet-compile-csc.rsp
/AltaPerspectiva/src/AltaPerspectiva.Identity/obj/Release/netstandard1.6/dotnet-compile.assemblyinfo.cs
/AltaPerspectiva/src/AltaPerspectiva.Identity/obj/Release/netstandard1.6/dotnet-compile.rsp
/AltaPerspectiva/src/AltaPerspectiva.Identity/bin/Debug/netcoreapp1.0
/AltaPerspectiva/src/AltaPerspectiva.Identity/obj/Debug/netcoreapp1.0
/AltaPerspectiva/src/Altaperspectiva.OpenID.Web/bin/Debug/netcoreapp1.0
/AltaPerspectiva/src/Altaperspectiva.OpenID.Web/bin/src/AltaPerspectiva.Identity/obj/Debug/netstandard1.6
/AltaPerspectiva/src/Altaperspectiva.OpenID.Web/obj/Debug/netcoreapp1.0
/AltaPerspectiva/src/Altaperspectiva.OpenID.Web/wwwroot
/AltaPerspectiva/src/AltaPerspectiva.Web/node_modules
/AltaPerspectiva/src/AltaPerspectiva.Web/bower_components/tinymce
/AltaPerspectiva/src/Altaperspectiva.OpenId/bin/
/AltaPerspectiva/src/Altaperspectiva.OpenId/obj/
/AltaPerspectiva/src/Questions.Domain/bin/
/AltaPerspectiva/src/Altaperspectiva.OpenId/node_modules
/AltaPerspectiva/src/Questions.Domain/obj

AltaPerspectiva/src/Questions.Command/project.lock.json
AltaPerspectiva/src/Questions.Domain/project.lock.json
AltaPerspectiva/src/Questions.Query/project.lock.json
AltaPerspectiva/src/UserProfile.Command/project.lock.json
AltaPerspectiva/src/UserProfile.Domain/project.lock.json
AltaPerspectiva/src/UserProfile.Query/project.lock.json
AltaPerspectiva/src/Altaperspectiva.OpenId/project.lock.json
AltaPerspectiva/src/Altaperspectiva.OpenId/Altaperspectiva.OpenId.xproj.user
AltaPerspectiva/src/UserProfile.Domain/bin/
AltaPerspectiva/src/UserProfile.Query/obj/
AltaPerspectiva/src/UserProfile.Query/bin/
AltaPerspectiva/src/UserProfile.Domain/obj/
AltaPerspectiva/src/UserProfile.Command/bin/
AltaPerspectiva/src/UserProfile.Command/obj/
/AltaPerspectiva/src/AltaPerspectiva.Api/bin/Debug/netstandard1.6/AltaPerspectiva.Api.deps.json
/AltaPerspectiva/src/AltaPerspectiva.Api/obj/Debug/netstandard1.6/.IncrementalCache
/AltaPerspectiva/src/AltaPerspectiva.Api/obj/Debug/netstandard1.6/.SDKVersion
/AltaPerspectiva/src/AltaPerspectiva.Api/obj/Debug/netstandard1.6/dotnet-compile-csc.rsp
/AltaPerspectiva/src/AltaPerspectiva.Api/obj/Debug/netstandard1.6/dotnet-compile.assemblyinfo.cs
/AltaPerspectiva/src/AltaPerspectiva.Api/obj/Debug/netstandard1.6/dotnet-compile.rsp
AltaPerspectiva/src/AltaPerspectiva.Api/AltaPerspectiva.Api.xproj.user
AltaPerspectiva/AltaPerspectiva.vsext
AltaPerspectiva/src/AltaPerspectiva.Api/bin/Debug/netstandard1.6/AltaPerspectiva.Api.dll
AltaPerspectiva/src/AltaPerspectiva.Api/bin/Debug/netstandard1.6/AltaPerspectiva.Api.pdb
/AltaPerspectiva/src/AltaPerspectiva.Web/typings
AltaPerspectiva/src/AltaPerspectiva/bower_components/
AltaPerspectiva/src/Blog.Domain/obj/
AltaPerspectiva/src/Blog.Domain/bin/
AltaPerspectiva/src/Blog.Query/project.lock.json
AltaPerspectiva/src/Blog.Domain/project.lock.json
AltaPerspectiva/src/Blog.Command/project.lock.json
AltaPerspectiva/src/Blog.Query/obj/
AltaPerspectiva/src/Blog.Command/obj/
AltaPerspectiva/src/Blog.Query/bin/
AltaPerspectiva/src/Blog.Command/bin/
AltaPerspectiva/src/Blog.Query/Blog.Query.xproj.user
AltaPerspectiva/src/Blog.Command/Blog.Command.xproj.user
AltaPerspectiva/src/Blog.Domain/Blog.Domain.xproj.user
AltaPerspectiva/src/AltaPerspectiva.Web/wwwroot/profile/gitignore_global.txt
AltaPerspectiva/src/Altaperspectiva.OpenId/config.json
AltaPerspectiva/src/Altaperspectiva.OpenId/appsettings.json
AltaPerspectiva/src/RedisSaveInAspCore/
AltaPerspectiva/src/AltaPerspectiva.Web/wwwroot/node_modules/
AltaAuthentication/AltaAuthentication/AuthorizationServer/node_modules/
AltaAuthentication/AltaAuthentication/AuthorizationServer/wwwroot/lib/jquery-validation/localization/messages_bg.js
AltaAuthentication/AltaAuthentication/AuthorizationServer/wwwroot/lib/
AltaAuthentication/AltaAuthentication/AuthorizationServer/bin/
AltaAuthentication/AltaAuthentication/AuthorizationServer/obj/
*.ngfactory.ts
*.ngsummary.json
*.ngstyle.ts
*.ngfactory.js
*.component.js
AltaPerspectiva/src/AltaPerspectiva.Web/wwwroot/dist/0.chunk.js
AltaPerspectiva/src/AltaPerspectiva.Web/wwwroot/dist/1.chunk.js
AltaPerspectiva/src/AltaPerspectiva.Web/wwwroot/dist/2.chunk.js
AltaPerspectiva/src/AltaPerspectiva.Web/wwwroot/dist/app.bundle.js
AltaPerspectiva/src/AltaPerspectiva.Web/wwwroot/dist/polyfills.bundle.js
AltaPerspectiva/src/AltaPerspectiva.Web/wwwroot/dist/vendor.bundle.js
*.ngstyle.js
