AltaPerspectiva/.vs/AltaPerspectiva/v14/.suo
AltaPerspectiva/.vs
AltaPerspectiva/src/AltaPerspectiva.Core/obj/
AltaPerspectiva/src/AltaPerspectiva.Core/bin/
AltaPerspectiva/src/Questions.Query/obj/
AltaPerspectiva/src/Questions.Query/bin/
AltaPerspectiva/src/Questions.Command/bin/
AltaPerspectiva/src/AltaPerspectiva.Web/bin/
AltaPerspectiva/src/AltaPerspectiva.Web/obj/
AltaPerspectiva/src/AltaPerspectiva.Web/wwwroot/
AltaPerspectiva/src/Questions.Command/obj/
AltaPerspectiva/src/AltaPerspectiva/bower_components/
AltaPerspectiva/src/AltaPerspectiva/node_modules/
AltaPerspectiva/src/Questions.Query/Questions.Query.xproj.user
AltaPerspectiva/src/AltaPerspectiva.Core/AltaPerspectiva.Core.xproj.user
AltaPerspectiva/src/AltaPerspectiva.Web/AltaPerspectiva.Web.xproj.user
AltaPerspectiva/src/Questions.Command/Questions.Command.xproj.user
/AltaPerspectiva/src/AltaPerspectiva.Identity/Properties
/AltaPerspectiva/src/AltaPerspectiva.Identity/bin/Debug/netstandard1.6
/AltaPerspectiva/src/AltaPerspectiva.Identity/obj/Debug/netstandard1.6/.IncrementalCache
/AltaPerspectiva/src/AltaPerspectiva.Identity/obj/Debug/netstandard1.6/.SDKVersion
/AltaPerspectiva/src/AltaPerspectiva.Identity/obj/Debug/netstandard1.6/dotnet-compile-csc.rsp
/AltaPerspectiva/src/AltaPerspectiva.Identity/obj/Debug/netstandard1.6/dotnet-compile.assemblyinfo.cs
/AltaPerspectiva/src/AltaPerspectiva.Identity/obj/Debug/netstandard1.6/dotnet-compile.rsp
/AltaPerspectiva/src/AltaPerspectiva.Web/project.lock.json
AltaPerspectiva/src/AltaPerspectiva.Identity/project.lock.json
/AltaPerspectiva/src/AltaPerspectiva.Infrastructure/bin/Debug/netstandard1.6/AltaPerspectiva.Infrastructure.deps.json
/AltaPerspectiva/src/AltaPerspectiva.Infrastructure/obj/Debug/netstandard1.6/*.rsp
/AltaPerspectiva/src/AltaPerspectiva.Infrastructure/obj/Debug/netstandard1.6/*.IncrementalCache
/AltaPerspectiva/src/AltaPerspectiva.Infrastructure/obj/Debug/netstandard1.6/*.SDKVersion
/AltaPerspectiva/src/AltaPerspectiva.Infrastructure/obj/Debug/netstandard1.6/dotnet-compile.assemblyinfo.cs
/AltaPerspectiva/src/AltaPerspectiva.Identity/bin/Release/netstandard1.6/AltaPerspectiva.Identity.deps.json
/AltaPerspectiva/src/AltaPerspectiva.Identity/obj/Release/netstandard1.6/.IncrementalCache
/AltaPerspectiva/src/AltaPerspectiva.Identity/obj/Release/netstandard1.6/.SDKVersion
/AltaPerspectiva/src/AltaPerspectiva.Identity/obj/Release/netstandard1.6/dotnet-compile-csc.rsp
/AltaPerspectiva/src/AltaPerspectiva.Identity/obj/Release/netstandard1.6/dotnet-compile.assemblyinfo.cs
/AltaPerspectiva/src/AltaPerspectiva.Identity/obj/Release/netstandard1.6/dotnet-compile.rsp
/AltaPerspectiva/src/AltaPerspectiva.Identity/bin/Debug/netcoreapp1.0
/AltaPerspectiva/src/AltaPerspectiva.Identity/obj/Debug/netcoreapp1.0
/AltaPerspectiva/src/Altaperspectiva.OpenID.Web/bin/Debug/netcoreapp1.0
/AltaPerspectiva/src/Altaperspectiva.OpenID.Web/bin/src/AltaPerspectiva.Identity/obj/Debug/netstandard1.6
/AltaPerspectiva/src/Altaperspectiva.OpenID.Web/obj/Debug/netcoreapp1.0
/AltaPerspectiva/src/Altaperspectiva.OpenID.Web/wwwroot
