<div class="row">
    <div #dialogAnchor></div>
</div>
<div class="row">
    <div class="left-panel">
        <div>.</div>
        <div id="leftPanel">
            <topfive-question-left-menu> </topfive-question-left-menu>
            <topfive-user></topfive-user>
            <topfive-topic></topfive-topic>
            <category-left-menu [caegoryId]="id"></category-left-menu>
        </div>
    </div>
    <div class="center-width">
        <div class="tab" *ngFor="let question of questions">
            <div class="panel-article">
                <div class="questions-container">
                    <div  (click)="openDialogBox(question)" class="details-container">
                        <question-header [question]="question"></question-header>
                        <h3 class="question-title">
                            <a  [routerLink]="['/question/detail',question.id]">{{question.title}}</a>
                        </h3>
                        <div class="article-details">
                            <user-info [userObj]="question.bestAnswer?.userViewModel" [viewDate]="question.bestAnswer?.answerDate"></user-info>
                            <div *ngIf="question.bestAnswer?.text">
                                <p [innerHTML]="question.bestAnswer?.text"></p><span><a (click)="openDialogBox(question)" >Read more..</a></span>
                            </div>
                            <div *ngIf="question.bestAnswer">
                                <ap-status [isQuestion]='false' [questionObj]="question" [answerObj]="question.bestAnswer"> </ap-status>
                                <ap-comment [isQuestion]='false' [questionId]="question.id" [answerId]="question.bestAnswer?.id"></ap-comment>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

