<div class="row">
    <div class="left-panel">
        <topfive-question-left-menu> </topfive-question-left-menu>
        <topfive-user></topfive-user>
        <question-left-menu></question-left-menu>
    </div>
    <div class="tab-content-panel">
        <div class="tab" *ngFor="let question of questions">
            <div class="panel-article">
                <div class="row  ">
                    <!--<div class="col-sm-1 left-gap">
                    </div>-->
                    <div class="questions-container">
                        <div class="details-container">
                            <h3>
                                <a [routerLink]="['/question/detail',question.id]">{{question.title}}</a>
                            </h3>
                            <div class="article-details">
                                <img class="user-image" src="../../../../profile/{{question.userViewModel?.imageUrl}}" />

                                <div class="header-info">{{question.userViewModel.name}}, {{question.userViewModel.occupation}} {{question?.createdOn | date: 'dd MMM, yyyy'}} </div>
                                Categories: <h5 *ngFor="let c of question.categories;let i = index; let last = last" class="subtitle">{{c?.name}} <span *ngIf="!last">,&nbsp;</span> </h5>
                                <div *ngIf="question.lastAnswer?.text"><p [innerHTML]="question.lastAnswer?.text"></p><span><a [routerLink]="['/question/detail',question.id]">Read more..</a></span></div>
                                <div *ngIf="question.answers.length!=0"> by {{question.answers[question.answers.length-1]?.userViewModel?.name}} {{question.answers[question.answers.length-1]?.createdOn | date: 'dd MMM, yyyy'}}</div>
                                <hr />
                                <ap-status [questionObj]="question"> </ap-status>
                                <ap-comment [questionId]="question.id"></ap-comment>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>