<div class="row hidden-xs" id="tabs">
    <div class="tab-panel-container center-width">
        <div class="tab-header-col-md-1 left-arrow"> <a class="arrow-sign" (click)="rightclick()"><span class="icon-arrow-left"></span></a></div>
        <div class="tab-header-col-md-10">
            <div class="tabs-container" >
                <div class="tabs" id="tabsContainer" [ngStyle]="{'transition': 'all 1.5s ease','transform':translate}">
                    <div class="tab" *ngFor="let category of categories" [ngClass]="{'active' : category.active}">
                        <a  (click)="selectTab(category.id,category.sequence)">
                            <span class="{{category.icon}}"><span class="tab-text">{{category.name}}</span> </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-header-col-md-1 right-arrow"><a class="arrow-sign"  (click)="leftclick()"><span class="icon-arrow-right"></span></a></div>
    </div>
</div>
<router-outlet></router-outlet>