<div class="status-panel">
    <img *ngIf="questionObj?.answers[0]?.likes?.length<1"  src='../images/fade-logo.png'  onmouseover="this.src = '../images/like-logo.png';" onmouseout="this.src = '../images/fade-logo.png';" />
    <img *ngIf="questionObj?.answers[0]?.likes?.length>0" src='../images/like-logo.png' />
    <a href="#" data-toggle="modal" attr.data-target="#likeModal{{commentId}}" class="number-box" (click)="showLikeUserDetails()" > {{isQuestion?(questionObj.likes.length):(answerObj?.likes?.length)}}</a>
    <a (click)="submitLike(answerObj?.id,questionObj.id)"><div class="status-line">Like</div></a>
    <div class="status-line like-border "></div>
    <div class="status-line number-box">{{questionObj?.viewCount?questionObj?.viewCount:0}}</div>
    <div class="status-line">Leidos</div>
    {{likedUsers?.length}}
    <div class="number-box" >
        {{CommentCount}} 
    </div>
    <a class="status-line" data-toggle="collapse" aria-expanded="false" attr.data-target="#questionComment{{commentId}}">Comentarios</a>
    <div class="status-line number-box">{{questionObj?.answerCount}}</div>
    <div class="status-line">Respuestas</div>

    <!--==========Right Side=====-->
    <div class="social-icon">
        <a href="https://www.facebook.com/sharer/sharer.php?u={{questionObj.shareUrl}}"
           class="SHARE FACEBOOK"
           onclick='window.open(this.href, "popupwindow", "width=800,height=500,left=200,top=5,scrollbars,toolbar=0,resizable");return false;' target="social">
            <img class="social-image" src="../images/facebooklogo.jpg" />
        </a>

        <a href="https://twitter.com/home?status={{questionObj.shareUrl}}"
           class="SHARE TWITTER"
           onclick='window.open(this.href, "popupwindow", "width=800,height=500,left=200,top=5,scrollbars,toolbar=0,resizable");return false;' target="social">
            <img class="social-image" src="../images/twitter.png" />
        </a>
        <a >
            <img class="social-image" src="../images/icon-external-link.png" />
        </a>
        
        <div class="other-function" *ngIf="isQuestion">
            <a [popover]="myPopover" >...</a>
            <popover-content #myPopover
                                placement="top"
                                [closeOnClickOutside]="true">
                <span></span>
                <ul style="list-style-type: none;">
                    <li style="list-style-type: none;width: 91px;">
                        <a (click)="questionDetailClicked()">Edit Question</a>
                    </li>
                    <li style="list-style-type: none;">
                        <a (click)="bookmarkClicked(questionObj?.id)">Bookmark</a>
                    </li>
                    <li style="list-style-type: none;">
                        <a (click)="questionReportClicked()">Report</a>
                    </li>

                </ul>
            </popover-content>
        </div>
       
        
    </div>
</div>

<!--====Modal====-->
<div class="modal fade" id="likeModal{{commentId}}" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div><div class="container">
            </div>
            <div class="modal-body">
                <div *ngFor="let user of likedUsers">
                    <div>
                        <img class="user-image comment-img img-circle img" src="../../../../profile/{{user?.imageUrl}}" />
                        {{user?.name}}
                    </div>
                    <br />
                </div>
                <div class="modal-footer">
                    <div style="display: none">.</div>
                </div>
            </div>
        </div>
    </div>
</div>