<style>
    .credential-dialog {
        margin: 10% auto;
        max-width: 45%;
    }

    .profile-modal-body {
        position: relative;
        padding: 15px;
        background-color: #f6f6f6;
        margin: 0px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

        .profile-modal-body input {
            width: 100%;
            border: 1px solid #bdbdbd;
            border-radius: 3px;
            padding: 2px 5px;
            margin-top: 5px;
            margin-bottom: 5px;
        }

        .profile-modal-body a:hover {
            text-decoration: underline;
        }

    .profile-modal-button-container {
        text-align: right;
    }

        .profile-modal-button-container a {
            margin-right: 10px;
        }

    .modal-header h3 {
        font-weight: bold;
    }

   
</style>

<div class="modal-overlay z-modal" id="dialogModal" (click)="handleClick($event)">
    <div class="modal-content credential-dialog">
        <div class="exit-button" (click)="onClickedExit()">x</div>
        <div class="modal-container" style="border:1px solid;">
            <div class="modal-header">
                <h3>Add Education</h3>
            </div>
            <div class="profile-modal-body">
                <form class="form-horizontal" (ngSubmit)="saveEducation()" #educationForm="ngForm">
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="email">School Name*</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="SchoolName" placeholder="Enter SchoolName" [(ngModel)]="education.schoolName" required name="SchoolName"
                                   #SchoolName="ngModel">
                            <div [hidden]="SchoolName.valid || SchoolName.pristine"
                                 class="alert alert-danger">
                                SchoolName is required
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="pwd">Concentration</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="SchoolDegreeName" placeholder="Enter Concentration" [(ngModel)]="education.concentration" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="pwd">Secondary Concentration</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="Certification" placeholder="Enter Certification" [(ngModel)]="education.secondaryConcentration" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-4" for="pwd">Degree Type</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="CertificationType" placeholder="Msc." [(ngModel)]="education.degreeType" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="pwd">Graduation Year</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" id="graduaionYear" placeholder="graduaionYear eg.2000" [(ngModel)]="education.graduaionYear" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>


                    <div class="profile-modal-button-container">
                        <a (click)="DeleteCredentialTitle()">Delete</a>
                        <a (click)="onClickedExit()">Cancel</a>
                        <button type="submit" class="btn btn-success" [disabled]="!educationForm.form.valid">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

