<style>
    .credential-dialog {
        margin: 10% auto;
        max-width: 45%;
    }

    .profile-modal-body {
        position: relative;
        padding: 15px;
        background-color: #f6f6f6;
        margin: 0px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

        .profile-modal-body input {
            width: 100%;
            border: 1px solid #bdbdbd;
            border-radius: 3px;
            padding: 2px 5px;
            margin-top: 5px;
            margin-bottom: 5px;
        }

        .profile-modal-body a:hover {
            text-decoration: underline;
        }

    .profile-modal-button-container {
        text-align: right;
    }

        .profile-modal-button-container a {
            margin-right: 10px;
        }

    .modal-header h3 {
        font-weight: bold;
    }
     .col-sm-8 {
        padding-left: 0;
    }
</style>

<div class="modal-overlay z-modal" id="dialogModal" (click)="handleClick($event)">
    <div class="modal-content credential-dialog">
        <div class="exit-button" (click)="onClickedExit()">x</div>
        <div class="modal-container" style="border:1px solid;">
            <div class="modal-header">
                <h3>Employment Information</h3>
                <!--<p>Credentials also appear on answers you write.</p>-->
            </div>
            <div class="profile-modal-body">
                <form class="form-horizontal" (ngSubmit)="onEmploymentSubmit()" #employmentForm="ngForm">
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="email">Position* :</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="position" placeholder="Enter Position" [(ngModel)]="employment.position" required name="position"
                                   #position="ngModel">
                            <div [hidden]="position.valid || position.pristine"
                                 class="alert alert-danger">
                                Position is required
                            </div>
                         </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="pwd">Company Name:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="CompanyName" placeholder="Enter CompanyName" [(ngModel)]="employment.companyName"  [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="pwd">Start Year:</label>
                        <div class="col-sm-8">
                            <input type="number"  class="form-control" [(ngModel)]="employment.startDate" [ngModelOptions]="{standalone: true}" placeholder="eg.2000" min="1900" max="3000"/>
                           
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="pwd">End Year:</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" [(ngModel)]="employment.endDate" [ngModelOptions]="{standalone: true}" placeholder="eg.2017" min="1900" max="3000" />

                          
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">Currently Working</label>
                        <div class="col-sm-8">
                            <input type="checkbox" class="form-control  checkbox noshadow" [(ngModel)]="employment.isCurrentlyWorking"  [ngModelOptions]="{standalone: true}" />
                        </div>

                    </div>


                    <div class="profile-modal-button-container">
                        <a (click)="DeleteEmployment()">Delete</a>
                        <a (click)="onClickedExit()">Cancel</a>
                        <button type="submit" class="btn btn-success" [disabled]="!employmentForm.form.valid">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

