<style>
    .credential-dialog {
        margin: 20% auto;
        max-width: 45%;
        padding: 25px;
    }

    .profile-modal-body {
        position: relative;
        padding: 15px;
        background-color: #f6f6f6;
        margin: 0px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        text-align: center;
    }

        .profile-modal-body input {
            width: 100%;
            border: 1px solid #bdbdbd;
            border-radius: 3px;
            padding: 2px 5px;
            margin-top: 5px;
            margin-bottom: 5px;
        }

        .profile-modal-body a:hover {
            text-decoration: underline;
        }

    canvas {
        margin: 15px;
    }

    .profile-modal-button-container {
        text-align: right;
    }

        .profile-modal-button-container a {
            margin-right: 10px;
        }

    .modal-header h3 {
        font-weight: bold;
    }

    .modal-overlay {
        top: -209px;
    }
</style>

<div class="modal-overlay z-modal" id="dialogModal" (click)="handleClick($event)">
    <div class="modal-content credential-dialog">
        <div class="exit-button" (click)="onClickedExit()">x</div>
        <div class="modal-container" >
            <div class="modal-header">
                <h3><!--Preview Images-->Imagen previa</h3>
                <!--<p>Credentials also appear on answers you write.</p>-->
            </div>
            <div class="profile-modal-body">
                <div>
                    <img-cropper #cropper [image]="data1" [settings]="cropperSettings1" (onCrop)="cropped($event)"></img-cropper>
                    <div class="result" *ngIf="data1.image">
                        <img style="border:1px solid #dedbdb" [src]="data1.image"
                             [width]="200"
                             [height]="200">
                    </div>
                    <div class="row">
                        <button class="btn btn-info" (click)="onUpdate()">Actualizar</button>
                        <button class="btn btn-danger" (click)="onClickedExit()">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

