<style>
    .credential-dialog {
        margin: 15% auto;
        max-width: 45%;
    }

    .profile-modal-body {
        position: relative;
        padding: 15px;
        background-color: #f6f6f6;
        margin: 0px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

        .profile-modal-body input {
            width: 100%;
            border: 1px solid #bdbdbd;
            border-radius: 3px;
            padding: 2px 5px;
            margin-top: 5px;
            margin-bottom: 5px;
        }

        .profile-modal-body a:hover {
            text-decoration: underline;
        }

    .profile-modal-button-container {
        text-align: right;
    }

        .profile-modal-button-container a {
            margin-right: 10px;
        }

    .modal-header h3 {
        font-weight: bold;
    }
    .modal-overlay {
            top: -209px;
    }
</style>

<div class="modal-overlay z-modal" id="dialogModal" (click)="handleClick($event)">
    <div class="modal-content credential-dialog">
        <div class="exit-button" (click)="onClickedExit()">x</div>
        <div class="modal-container" style="border:1px solid;">
            <div class="modal-header">
                <h3>Preview Images</h3>
                <!--<p>Credentials also appear on answers you write.</p>-->
            </div>
            <div class="profile-modal-body">
                <div>
                    <img-cropper #cropper [image]="data1" [settings]="cropperSettings1" (onCrop)="cropped($event)"></img-cropper>
                    <span class="result" *ngIf="data1.image">
                        <img [src]="data1.image"
                             [width]="200"
                             [height]="200">
                        <!--{{data1.image.length}}-->
                    </span>
                    <div class="row">
                        <div class="col-lg-2">
                            <input (click)="onUpdate()" type="text" class="btn btn-info" value="Update" />
                        </div>
                        <div class="col-lg-2">

                            <input type="text" (click)="onClickedExit()" class="btn btn-danger" value="Cancel" />
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

