@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using (Html.BeginForm("FileUpload", "SaveCategory", FormMethod.Post,
                                                                 new { area = "Questions", enctype = "multipart/form-data" }))
{
    <p>
        <label for="cname">Name (required, at least 2 characters)</label>
        <input id="cname" name="name" minlength="2" type="text" required>
    </p>
    <p>
        <label for="description">description</label>
        <input id="description" name="description" minlength="2" type="text" required>
    </p>
    <label for="field">Required, only .xls and .csv files allowed: </label>
    <input type="file" class="left" id="file" name="file" accept=".jpg">
    <br />
    <input type="submit" value="Upload">

}
@*@using (Html.BeginForm(new { area = "security", controller = "account", action = "logon", method = FormMethod.Post, enctype = "multipart/form-data" }))
        {
            <input type="submit" value="Upload">
        }

    <form id="myform" method="post" asp-area asp-action="FileUpload" asp-controller="Home" enctype="multipart/form-data">
        <p>
            <label for="cname">Name (required, at least 2 characters)</label>
            <input id="cname" name="name" minlength="2" type="text" required>
        </p>
        <label for="field">Required, only .xls and .csv files allowed: </label>
        <input type="file" class="left" id="file" name="file" accept=".jpg">
        <br />
        <input type="submit" value="Validate!">
    </form>
*@