<div class="left-panel">
    <related-question-left-menu></related-question-left-menu>
    <related-topic [topicId]="question?.questionTopics[0]?.topicId"></related-topic>
    <category-left-menu [caegoryId]="question?.categories[0]?.id"></category-left-menu>
</div>

<!-- =========Question========== -->
<div class="center-width center-body z-ground">
    <question-header [question]="question"></question-header>
    <h1 class="question-title">
        {{question.title}}
    </h1>
    <div class="article-details">
        <user-info [userObj]="question.userViewModel" [viewDate]="question?.createdOn" [isAnonymous]="question?.isAnonymous"></user-info>
        <p class="answer-text" [innerHTML]="question.body"></p>
        <div class="clearfix"></div>
        <ap-status [isQuestion]='true' [questionObj]="question"> </ap-status>
        <ap-comment [isQuestion]='true' [questionId]="question?.id"></ap-comment>
    </div>
    <hr />
    <button class="answer-button" data-toggle="modal" data-target="#myModal">Answer</button>
    <div class="summery-panel">
        <h4>{{question.answers?.length}} Answers</h4>
        <div class="row">
            <a class="col-md-3" (click)="GetLatestAnswer(question?.id)" ><h4>The latest answers</h4></a>
            <a class="col-md-3" (click)="GetBestAnswer(question?.id)"><h4>The best answer</h4></a>

        </div>
        <hr />
    </div>

    <!-- =========Answers============== -->
    <div *ngFor="let answer of question.answers">
        <div class="article-details" *ngIf="answer">
            <user-info [userObj]="answer?.userViewModel" [viewDate]="answer?.createdOn"></user-info>
            <p class="answer-text" [innerHTML]="answer.text"></p>
            <ap-status [isQuestion]='false' [questionObj]="question" [answerObj]="answer"> </ap-status>
            <ap-comment [isQuestion]='false' [questionId]="question?.id" [answerId]="answer.id"></ap-comment>
        </div>
        <hr />
    </div>

</div>
<!-- Modal -->
<style>
    .image-to-checkbox-spacing {
        margin-left: 70px !important;
        margin-top: -13px;
    }
</style>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form #answerVM="ngForm" class="form-horizontal" role="form">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h1>&iquest;{{question.title}}?</h1>
                    <div class="row">
                        <div *ngIf="!isAnonymous" class="col-lg-1">
                            <img class="user-image" src="../../../../profile/{{_logObj.user.imageUrl?_logObj.user.imageUrl:'avatar.png'}}" />
                        </div>
                        <div *ngIf="isAnonymous" class="col-lg-1">
                            <img class="user-image " src="../../../../profile/Anonymous.png" />
                        </div>

                        <br />
                        <div class="col-lg-1 image-to-checkbox-spacing">
                            <input type="checkbox" #answerAnonymous [checked]="isAnonymous" (change)="onChange(answerAnonymous.checked)" /> <label>Preguntar Anonimo</label>
                           <!-- <a [routerLink]="['/question/questionfullscreen',question.id]">Go full screen</a>-->
                        </div>
                    </div>
                    <div class="header-info">{{_logObj.user?.name}}  {{_logObj.user?.occupassion}} </div>

                    <div [hidden]="answerField.valid || answerField.pristine"
                         class="alert alert-danger">
                        Please type your answer and then submit!!
                    </div>
                </div>
                <div class="modal-body">
                    <ckeditor [(ngModel)]="answerText" [ngModelOptions]="{standalone: true}" id="answer"
                              required name="answerField" #answerField="ngModel"
                              [config]="{   filebrowserUploadUrl : '/browser/browse/type/all',
                                           filebrowserImageUploadUrl : '/browser/browse/type/image',
                              removeButtons : 'About,Maximize,TextColor,Styles,Format,Font,FontSize,Flash,Table,HorizontalRule,Smiley,SpecialChar,PageBreak,Iframe,Unlink,Anchor,BidiLtr,Language,BidiRtl,JustifyLeft,JustifyCenter,JustifyRight,JustifyBlock,CreateDiv,Blockquote,Outdent,Indent,BulletedList,NumberedList,CopyFormatting,RemoveFormat,Underline,Strike,Subscript,Superscript,Form,Radio,TextField,Textarea,Select,Button,ImageButton,HiddenField,Scayt,Find,SelectAll,Replace,BGColor,ShowBlocks,Checkbox,Source,Save,Templates,Cut,Undo,Redo,Copy,Paste,PasteText,PasteFromWord,Print,Preview,NewPage,Checkbox'}"
                              debounce="500">
                    </ckeditor>
                </div>
                <div class="modal-footer">
                    <div style="float:left;color:#737373;line-height: 34px;">
                        <button type="button" (click)="submitAnswer(question.id)" data-dismiss="modal" class="btn btn-primary">Submit</button>
                        <button type="button" (click)="submitAnswerAsDraft(question.id)" data-dismiss="modal" class="btn btn-primary">Save As Draft</button>
                    </div>
                    <div >
                        
                    </div>

                    <div class="social-icon">
                        <a><img class="social-image" src="../images/facebooklogo.jpg" /></a>
                        <a><img class="social-image" src="../images/twitter.png" /></a>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>
