h4 {
    display: inline;
}
a{
    cursor:pointer;
}
.answer-button{
        margin-top: 20px;
    margin-bottom: 20px;
    padding: 4px 12px;
    font-family: typogroteskrounded;
    background-color: #ececec;
    border: none;
    border-radius: 10px;
    font-size: 16px;
}
.summery-panel{
     margin-bottom:10px;
}
.btn-default{
    background-color:#f5f5f5;
}
.btn-primary {
    background-color: #F6912B;
    border-color: #F6912B;
}
.card-block{
    clear:both;
}
.modal-dialog {
    margin: 150px auto;
}
.status-panel>hr{
    width:100%;
    margin-left:0;
}


.like-border{
    border-right:1px solid #cccccc;
    height:10px;
}

.answer-text {
    font-size: 16px;
    color: #797575;
}

.header-info {
    font-size: 12px;
}
