<h1>&iquest;{{question.title}}?</h1>
<!--<div class="header-info">{{date.getMonthName(question.date.getMonth())}} {{question.date.getFullYear()}}</div>-->

<button class="btn btn-default" data-toggle="modal" data-target="#myModal"><i class="fa fa-pencil"></i>Answer</button>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form #answerVM="ngForm" class="form-horizontal" role="form">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>                    
                    <div [hidden]="answerField.valid || answerField.pristine"
                         class="alert alert-danger">
                        Please type your answer and then submit!!
                    </div>
                </div>
                <div class="modal-body">
                    <ckeditor [(ngModel)]="answerText" [ngModelOptions]="{standalone: true}" id="answer"
                              required name="answerField" #answerField="ngModel"                            
                              [config]="{   filebrowserUploadUrl : '/browser/browse/type/all',
                                           filebrowserImageUploadUrl : '/browser/browse/type/image',                                                     
                              removeButtons : 'About,Maximize,TextColor,Styles,Format,Font,FontSize,Flash,Table,HorizontalRule,Smiley,SpecialChar,PageBreak,Iframe,Unlink,Anchor,BidiLtr,Language,BidiRtl,JustifyLeft,JustifyCenter,JustifyRight,JustifyBlock,CreateDiv,Blockquote,Outdent,Indent,BulletedList,NumberedList,CopyFormatting,RemoveFormat,Underline,Strike,Subscript,Superscript,Form,Radio,TextField,Textarea,Select,Button,ImageButton,HiddenField,Scayt,Find,SelectAll,Replace,BGColor,ShowBlocks,Checkbox,Source,Save,Templates,Cut,Undo,Redo,Copy,Paste,PasteText,PasteFromWord,Print,Preview,NewPage,Checkbox'}"
                              debounce="500">
                    </ckeditor>
                </div>
                <div class="modal-footer">
                    <div style="float:left;color:#737373;line-height: 34px;">
                        <button type="button" (click)="submitAnswer(question.id)" data-dismiss="modal" class="btn btn-primary">Submit</button>
                    </div>  
                    
                    <div class="social-icon">
                        <a><img class="social-image" src="../images/facebooklogo.jpg" /></a>
                        <a><img class="social-image" src="../images/twitter.png" /></a>
                    </div>
                                                                   
                </div>
            </div>
        </form>
    </div>
</div>


<div class="row z-ground">
    <!--<div class="left-border">
        <img class="image-border" src="../../../../images/border.png" />
    </div>-->
    <div class="article-details">
        <img class="user-image" src="../../../../images/avatar.png" />
        <!--<div class="header-info">{{question?.user?.name}},{{question?.user?.occupassion}}</div>-->
        <!--<div class="header-info">{{date.getMonthName(question.date?.getMonth())}} {{question.date?.getFullYear()}}</div>-->
        <p class="answer-text" [innerHTML]="question.body"></p>
        <div class="status-panel">
            <hr />
            <img class="like-logo" src="../images/fade-logo.png" />
            <div class="status-line">{{question.likes?.length}}</div>
            <a (click)="submitLike(question.id)"><div class="status-line">Like</div></a>
            <div class="status-line like-border"></div>
            <div class="status-line">{{question.viewCount}}</div>
            <div class="status-line">Leidos</div>
            <a data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                {{question.comments?.length}} comments
            </a>
            <!-- social media icon -->
            <div class="social-icon">
                <a><img class="social-image" src="../images/facebooklogo.jpg" /></a>
                <a><img class="social-image" src="../images/twitter.png" /></a>
                <a><img class="social-image" src="../images/icon-external-link.png" /></a>
            </div>
        </div>
        <!-- ======Question Comment==== -->
        <div class="collapse comment-panel" id="collapseExample">
            <form #commentForm="ngForm" class="form-horizontal" role="form">
                <div class="comment-input">
                    <img class="user-image comment-img" src="../../../../images/avatar.png"  />
                    <input class="form-control" [(ngModel)]="commentText" [ngModelOptions]="{standalone: true}" id="comment"/>
                    <button type="button" class="btn btn-primary" (click)="submitComment(question.id)">Submit</button>
                </div>
           </form>
            <div class="card card-block">
                <div *ngFor="let comment of question.comments">
                    <div class="row">
                        <div class="article-details" *ngIf="comment">
                            <img class="user-image comment-img" src="../../../../images/avatar.png" />
                            <div class="header-info">{{comment?.user?.name}}</div>
                            <!--,{{date.getMonthName(comment?.time?.getMonth())}} {{comment?.time?.getDate()}} {{comment?.time?.getFullYear()}}-->
                            <p class="answer-text">{{comment.commentText}}</p>
                        </div>
                    </div>
                    <hr />
                </div>
            </div>
</div>
    </div>
</div>
<hr />
<h3>{{question.answers?.length}} Answers</h3>
<!-- =========Answers============== -->
<div *ngFor="let answer of question.answers">
    <div class="row">
        <!--<div class="left-border">
            <img class="image-border" src="../../../../images/border.png" />
        </div>-->
        <div class="article-details" *ngIf="answer">
            <img class="user-image " src="../../../../images/avatar.png" />
            <div class="header-info">{{answer.user?.name}},{{answer.user?.occupassion}}</div>           
            <p class="answer-text" [innerHTML]="answer.text"></p>
            <div class="status-panel">
                <hr />
                <img class="like-logo" src="../images/fade-logo.png" />
                <div class="status-line">{{answer.likes?.length}}</div>
                <div class="status-line">Like</div>
                <div class="status-line like-border"></div>
                <div class="status-line">{{answer.comments?.length}}</div>
                <div class="status-line">Leidos</div>
                <a data-toggle="collapse" attr.data-target="#answerComment{{answer.id}}" aria-expanded="false" aria-controls="collapseExample">
                    comments
                </a>
                <!-- social media icon -->
                <div class="social-icon">
                    <img class="social-image" src="../images/facebooklogo.jpg" />
                    <img class="social-image" src="../images/twitter.png" />
                    <img class="social-image" src="../images/icon-external-link.png" />

                </div>
            </div>
            <!-- ======Answer Comment==== -->
            <div class="collapse comment-panel" id="answerComment{{answer.id}}">
                <div class="comment-input">
                    <img class="user-image comment-img" src="../../../../images/avatar.png" />
                    <input class="form-control" />
                    <button class="btn btn-info">comment</button>
                </div>
                <div class="card card-block">
                    <div *ngFor="let comment of answer.comments">
                        <div class="row">
                            <div class="article-details" *ngIf="comment">
                                <img class="user-image comment-img" src="../../../../images/avatar.png" />
                                <!--<div class="header-info">{{comment?.user?.name}},{{date.getMonthName(comment?.time?.getMonth())}} {{comment?.time?.getDate()}} {{comment?.time?.getFullYear()}}</div>-->
                                <p class="answer-text">{{comment?.commentText}}</p>
                            </div>
                        </div>
                        <hr />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
</div>
