<style>
    .modal-container {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.3);
    }
</style>
<div [ngClass]="placeBottom" class="z-header" id="search-box" >
    <div class="input-group" id="adv-search">

        <form (ngSubmit)="submitQuestion()" #questionVM="ngForm" class="form-horizontal" role="form" id="search-panel">

            <div [hidden]="titleName.valid || titleName.pristine"
                 class="alert alert-danger">
                Please type your question and then click ask!!
            </div>

            <input type="text" class="form-control search-input fixed-height" #searchText placeholder="Ask here" id="title" autocomplete="off"
                   [(ngModel)]="title" required name="titleName" #titleName="ngModel" (keyup)=filterQuestions() />

            

            <div class="suggestions" *ngIf="(filteredQuestionList.length > 0) || (this.categoryMatched.length > 0)">
                <ul class="question-List">
                    <li *ngFor="let item of filteredQuestionList">
                        <a (click)="selectQuestionDetails(item)">{{item.title}}</a>
                        <hr />
                    </li>
                    <li>
                        Topics: {{categoryMatched}}
                        <hr />
                    </li>
                    <li>
                        Search: {{categoryMatched}}
                    </li>
                </ul>
            </div>

            <div class="input-group-btn">
                <div class="btn-group" role="group">
                    <div class="dropdown dropdown-lg">
                        <button type="button" class="btn btn-default  fixed-height" data-toggle="collapse" data-target="#question-details" (click)="showDetailsQuestionsPanel(searchText)" aria-expanded="false"><span class="caret"></span></button>
                        <div id="question-details" class="dropdown-menu dropdown-menu-right search-menu" role="menu">

                            <div class="question-components">
                                <label> Categories &nbsp; </label>
                                <select class="form-control catagory-dropdown" id="Category" required [(ngModel)]="categoryID" name="category" #category="ngModel">
                                    <option *ngFor="let category of categories" [value]="category.id">
                                        {{category.name}}
                                    </option>
                                </select>
                                <div [hidden]="category.valid || category.pristine" class="alert alert-danger">
                                    You must select a category for question
                                </div>
                            </div>
                            <div class="question-components">   
                                <textarea  [(ngModel)]="body" [ngModelOptions]="{standalone: true}" rows="6" cols="86"></textarea>                             
                                <!--<ckeditor [(ngModel)]="body" [ngModelOptions]="{standalone: true}"
                                          [config]="{ removeButtons : 'About,Maximize,TextColor,Styles,Format,Font,FontSize,Flash,Table,HorizontalRule,Smiley,SpecialChar,PageBreak,Iframe,Link,Unlink,Anchor,BidiLtr,Language,BidiRtl,JustifyLeft,JustifyCenter,JustifyRight,JustifyBlock,CreateDiv,Blockquote,Outdent,Indent,BulletedList,NumberedList,CopyFormatting,RemoveFormat,Underline,Strike,Subscript,Superscript,Form,Radio,TextField,Textarea,Select,Button,ImageButton,HiddenField,Scayt,Find,SelectAll,Replace,BGColor,ShowBlocks,Checkbox,Source,Save,Templates,Cut,Undo,Redo,Copy,Paste,PasteText,PasteFromWord,Print,Preview,NewPage,Checkbox,Bold,Italic,Image'}"
                                          debounce="500">
                                </ckeditor>-->
                            </div>

                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary fixed-height" [disabled]="!titleName.valid &&!category.valid"><span class="glyphicon glyphicon-search" aria-hidden="true"></span><span style="padding-left:5px">Ask</span></button>
                </div>
            </div>
        </form>
    </div>
</div>