<div [ngClass]="placeBottom" id="search-box" (click)="handleClick($event)">
    <div class="input-group center-width" id="adv-search">
        <form (ngSubmit)="submitQuestion()" #questionVM="ngForm" class="form-horizontal" role="form" id="search-panel">
            <div class="icon-container">
                <input type="text" class="form-control search-input fixed-height z-header" #searchText placeholder="Haz tu pregunta aquí o busca tus preguntas aquí" id="title" autocomplete="off" (click)="showModal()"
                       [(ngModel)]="title" required name="titleName" #titleName="ngModel" (keyup)=filterQuestions($event) />
                <div [hidden]="!showQuestion" class="question-begin">¿</div>
                <div [hidden]="!showQuestion" class="question-end" id="question-end">?</div>
                <div id="temp-text" style="position:absolute;top:-100px;">{{title}}</div>
            </div>
            <div class="suggestions" id="suggestion" *ngIf="isOnModal">
                <!-- Question Text -->
                <search-dropdown [title]="title"></search-dropdown>
                <!-- Question Suggestion -->
                <div class="suggestion-container" *ngIf="(filteredQuestionList.length>0) || (categoryMatched?.length > 0)">
                    <div class="arrow-container"></div>
                    <ul class="question-List">
                        <li *ngFor="let item of filteredQuestionList">
                            <a (click)="selectQuestionDetails(item)">{{item.title}}</a>
                            <hr />
                        </li>
                        <li>
                            <a><span class="glyphicon glyphicon-search topic-icon" aria-hidden="true"></span><span class="search-footer">Topics:</span>  {{categoryMatched}}</a>
                            <hr />
                        </li>
                        <li>
                            <a><span class="glyphicon glyphicon-search topic-icon" aria-hidden="true"></span><span class="search-footer">Search:</span>  {{title?title+'?':''}}</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="input-group-btn">
                <div class="btn-group" role="group">
                    <button type="submit" class="btn btn-primary fixed-height" [disabled]="!titleName.valid"><span class="glyphicon glyphicon-search" aria-hidden="true"></span><span class="ask-text">Enviar</span></button>
                </div>
            </div>
        </form>
    </div>
</div>