.search-icon {
    background: transparent;
    position: absolute;
    right: 15%;
    z-index: 99999999;
    padding-top: 10px;
    height: 43px;
}

a {
    cursor: pointer;
    color: #706f6f;
    text-decoration: none;
    outline: 0;
    display: block;
    margin-bottom: 5px;
}

.question-List {
    list-style-image: url(../images/question-mark.jpg);
}

.form-horizontal>.search-input{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.form-group {
    margin: 0;
    padding: 3px 0px;
}

.padding-middle {
    padding: 7px 22px;
}

.form-group:hover {
    cursor: pointer;
    background-color: #c7c7c7 !important;
    border-top: 1px solid #9e9393;
    border-bottom: 1px solid #9e9393;
}



.dropdown-menu-right {
    right: 88px;
}

.lef-column {
    margin-right: 10px;
    display: inline-block;
    width: 15px;
}

.bottom-float {
    position: absolute;
    bottom: -3%;
    left: 20%;
    overflow: visible;
}

.fixed-height {
    height: 45px;
}

.search-input {
    background-color: #f5f5f5;
    width: 80%;
}

.form-control {
    border-radius: 10px;
}

.dropdown.dropdown-lg .search-dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}

.input-group-btn .btn-group {
    display: flex !important;
}

.btn-primary {
    background-color: #F6912B;
    border-color: #F6912B;
}

    .btn-primary:hover {
        background-color: #F6912B;
        border-color: #F6912B;
    }

.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}

    .btn-group .btn:last-child {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

.btn-group .form-horizontal .btn[type="submit"] {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}

.form-group .form-control:last-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

@media screen and (min-width: 768px) {
    #adv-search {
        width: 850px;
        margin: 0 auto;
    }

    .dropdown.dropdown-lg {
        position: static !important;
    }

    .dropdown.dropdown-lg .search-dropdown-menu {
        min-width: 500px;
    }
}

.suggestions {
    max-width: 85%;
    border: 1px solid;
    position: absolute;
    background-color: white;
    top: 100%;
    border-radius: 5px;
    padding: 7px;
    z-index: 99;
    margin-top: 7px;
}

.btn-group {
    display: block;
}

.question-components {
    margin: 20px;
}

.catagory-dropdown {
    width: 80%;
}

.question-text {
    border-radius: 5px;
}

label {
    font-weight: normal;
    font-size: 16px;
}

.search-menu {
     min-width:761px;
    margin-top:6px;
}
