<!-- Question Text -->
<div class="dropdown-block">
    <select class="question-control" id="Category" required (change)="onCategoryChange(categoryObj.value)" name="category" #categoryObj>
        <option [value]="-1" disabled="true" selected>Selecciona la categoría</option>
        <option *ngFor="let category of categories" [value]="category.id">
            {{category.name}}
        </option>
    </select>
    <select class="question-control" name="topics" id="topics" required (change)="onTopicChange(topicObj.value)" #topicObj>
        <option [value]="-1" disabled="true" selected>Selecciona la tematica</option>
        <option *ngFor="let topic of topics" [value]="topic?.id">
            {{topic?.topicName}}
        </option>
    </select>
    <select class="question-control" name="levels" id="levels" required (change)="onLevelChange(levelObj.value)" #levelObj>
        <option [value]="-1" disabled="true" selected>Selecciona la complejidad</option>
        <option *ngFor="let level of levels" [value]="level.id">
            {{level.levelName}}
        </option>
    </select>
    <textarea name="body" class="question-control" placeholder="Agrega detalle de tu pregunta - Optional" [(ngModel)]="body" [ngModelOptions]="{standalone: true}" rows="6" cols="86"></textarea>
    <input type="checkbox" #cv [checked]=false (change)="onChange(cv.checked)" /> <label>Preguntar Anonimo</label>
</div>

