#search-panel {
    position: relative;
}

.ask-button {
    background-color: #f6912b;
    border: 1px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    width: 15%;
}

.icon-container {
    position: relative;
}

.question-begin {
    position: absolute;
    font-size: 22px;
    left: 4px;
    top: 5px;
    z-index: 9050;
    font-weight: bold;
}

.question-end {
    position: absolute;
    font-size: 22px;
    z-index: 9050;
    font-weight: bold;
    margin-left: 10px;
    top: 8px;
}

.topic-icon {
    background-color: #f6912b;
    padding: 3px;
    color: white;
    margin-right: 5px;
}

.input-group-btn {
    width: auto;
}

.question-control {
    padding: 0;
    height: 24px;
    border-radius: 8px;
    width: 100%;
    margin-bottom: 5px;
}

textarea {
    min-height: 70px;
    padding: 5px !important;
}

.ask-text {
    padding-left: 5px;
    margin-right: 7px;
}

.search-icon {
    background: transparent;
    position: absolute;
    right: 15%;
    padding-top: 10px;
    height: 43px;
}

.search-footer {
    color: #235da7;
}

hr, ul {
    margin: 0;
}

suggestion-container a {
    cursor: pointer;
    color: #706f6f;
    text-decoration: none;
    outline: 0;
    display: block;
    margin: 10px 10px;
    font-family: myriadpro-regular;
    font-size: 18px;
}

.question-List {
    /*list-style-image: url(../images/question-mark.jpg);*/
    list-style: none;
    padding: 10px 0px;
}

.search-input {
    background-color: #f5f5f5;
    width: 85%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    float: left;
    border: 1px solid #eeeeee;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 15px;
    box-shadow: none;
}

.form-group {
    margin: 0;
    padding: 3px 0px;
}

.padding-middle {
    padding: 7px 22px;
}

.form-group:hover {
    cursor: pointer;
}

.dropdown-menu-right {
    right: 0;
}

.lef-column {
    margin-right: 10px;
    display: inline-block;
    width: 15px;
}

.bottom-float {
    position: absolute;
    bottom: -3%;
    left: 0;
    right: 0;
    overflow: visible;
    margin-left: -15px;
    margin-right: -15px;
}

.top-fixed {
    position: fixed;
    left: 0;
    right: 0;
    margin-top: 5px;
}

.fixed-height {
    height: 45px;
}

.form-control {
    border-radius: 10px;
}

.dropdown.dropdown-lg .search-dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}

.input-group-btn .btn-group {
    display: flex !important;
}

.btn-primary {
    background-color: #F6912B;
    border-color: #F6912B;
    color: white;
}

    .btn-primary:hover {
        background-color: #F6912B;
        border-color: #F6912B;
    }

.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}

    .btn-group .btn:last-child {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

.btn-group .form-horizontal .btn[type="submit"] {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}

.form-group .form-control:last-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

@media screen and (min-width: 768px) {
    .dropdown.dropdown-lg {
        position: static !important;
    }

        .dropdown.dropdown-lg .search-dropdown-menu {
            min-width: 500px;
        }
}

.dropdown-block {
    background-color: white;
    border-radius: 7px;
    padding: 10px;
}

.suggestion-container {
    margin-top: 15px;
    border-radius: 10px;
    background-color: white;
    padding: 15px;
}

.suggestions {
    margin-top: 10px;
    top: 100%;
    width: 100%;
    position: absolute;
}

/*.topic-detail {
    
}

.ask-detail {
    margin-top: 7px;
    border-radius: 10px;
}*/

.btn-group {
    display: block;
}

.question-components {
    width: 100%;
}

    .question-components > textarea {
        display: block;
        width: 100%;
        border-radius: 2px;
    }

    .question-components > select {
        margin-bottom: 10px;
        border-radius: 2px;
    }

.question-text {
    border-radius: 5px;
}

label {
    font-weight: normal;
    font-size: 16px;
}

.search-menu {
    min-width: 840px;
    margin-top: 6px;
    padding: 10px;
}

.arrow-container {
    position: relative;
    width: 100%;
}

    .arrow-container:before {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 0 14px 19px;
        border-color: #ffffff transparent;
        display: block;
        top: -27px;
        left: 47%;
    }

.visible-tab {
    display:none;
}

.hidden-tab {
    visibility: visible;
}
.search-responsive{
    width:53%;
}
@media only screen and (min-width: 901px) and (max-width:1280px) {
    .search-responsive {
        width: 50%;
        margin-left: 290px;
    }
}
@media only screen and (min-width: 768px) and (max-width:900px) {
    .search-responsive {
        width: 40%;
        margin-left: 265px;
    }
        .visible-tab {
        display:block;
        font-size: 20px;
        margin-top: 8px;
    }

    .hidden-tab {
        visibility: hidden;
    }
}
@media only screen and (max-width:767px) {

    /*.search-box {
        padding: 0 41px 0px;
        position: fixed;
        width: 100%;
        top: 9px;
        z-index: 9999;
    }*/

    .visible-tab {
        display:block;
    }

    .search-input {
        width: calc(100% - 28px);
    }

    .ask-button {
        width: 28px;
    }

    .search-xs {
        padding: 0;
        position: fixed;
        width: calc(100% - 117px);
        left: 60px;
        top: 9px;
        bottom: inherit;
        margin: 0;
        z-index: 9000;
    }
    .bottom-float{
        padding-left:0;
        padding-right:0;
    }

    .bottom-float .center-width {
        width: 100%;
    }
}
