<style>
    /*.statistic-panel {
        min-height: 20vh;
        padding-right: 30%;
    }

    .profile-rightmenu {
        color: #9d9d9b;
        width: 100%;
        margin: 0 auto;
        border-top: 1px solid #eeeeee;
        padding-top: 10px;
        list-style: none;
        padding-left: 20px;
    }*/

    .profile-cat-img {
        float: left;
        height: 50px;
        width: 50px;
        border-radius: 4px;
    }
</style>
<div class="statistic-panel">
    <h3>Sabe sobre</h3>
    <ul class="profile-rightmenu" *ngFor="let categoryWiseAnswer of categoryWiseAnswers">
        <li>
            <img class="profile-cat-img" src="../categories/{{categoryWiseAnswer?.imageUrl}}" /> 
            <h3>{{categoryWiseAnswer?.categoryName}}</h3>
            <div>{{categoryWiseAnswer?.answerCount}} answer</div>
        </li>
        <!--<li>{{categoryWiseAnswer?.categoryName}}</li>-->
    </ul>
</div>