<div class="statistic-panel">
    <h2><!--category-->Etapas de mi negocio</h2>
    <ul class="profile-rightmenu" *ngFor="let categoryWiseAnswer of categoryWiseAnswers">
        <li>
            <img class="profile-cat-img" src="{{categoryWiseAnswer?.imageUrl}}" [routerLink]="['/question/home',categoryWiseAnswer?.categoryId]" />
            <h3>
                <a [routerLink]="['/question/home',categoryWiseAnswer?.categoryId]"> {{categoryWiseAnswer?.categoryName}}</a>
            </h3>
            <div>{{categoryWiseAnswer?.answerCount}} <!--answer-->Respuestas</div>
        </li>
    </ul>
</div>