<style>
    .item-dialog {
        width: 52%;
        margin: 10px auto;
    }

    .item-img-lg {
        height: 200px;
        width: 215px;
        border-radius: 5%;
        float: left;
    }

    .item-detail-container {
        padding: 10px;
        margin: 10px;
    }

    .item-comment-container {
        padding: 20px 20px 30px 20px;
    }

    .item-info {
        padding: 25px;
        float: left;
        width: 60%;
    }
    .item-info h1{
        font-size:30px;
    }
    .btn-item {
        background-color: #f6912b;
        color: white;
        min-width: 80px;
        padding: 5px;
        margin-right: 12px;
    }

    .item-info p {
        min-height: 80px;
    }
    .item-comment{
        background-color:#e8e6e2;
    }
    .comment-input-panel{
        width:100%;
    }
    .comment-input-panel .btn-item{
        float:right;
    }
    .comment-input-panel .form-control{
        display:inline-block;
        width:85%;
    }
    .item-dialog .card-block{
        margin:10px;
    }
</style>
<div class="modal-overlay z-modal" id="dialogModal" (click)="handleClick($event)">
    <div class="modal-content item-dialog">
        <div class="exit-button" (click)="onClickedExit()">x</div>
        <div #logginAnchor></div>
        <div class="modal-container" style="border:1px solid;">
            <div class="item-detail-container">
                <img src="{{virtualStore.screenShotFileName}}" class="item-img-lg" />
                <div class="item-info">
                    <h1>{{virtualStore.price| currency:'USD':true}}</h1>
                    <h2>{{virtualStore.title}}</h2>
                    <p>{{virtualStore.description}}</p>
                    <button class="btn btn-item">Buy</button>
                    <button class="btn btn-item">Download</button>
                </div>
            </div>
            <hr />
            <div class="item-comment-container">
                <h3>Comment</h3>
                <div class="comment-input-panel">
                    <input class="form-control item-comment" [(ngModel)]="comment.commentText" />
                    <button type="button" class="btn btn-item" (click)="postComment()">Comment</button>
                </div>
            </div>
            <div class="card card-block">
                <div *ngFor="let productComment of virtualStore.productComments" class="clearfix">
                    <div >
                        <img class="user-image comment-img" src="{{productComment.userViewModel.imageUrl}}" />
                        <div class="header-info">{{productComment.userViewModel.name}}</div>
                        <p class="answer-text">{{productComment.commentText}}</p>
                    </div>
                    <hr />
                </div>
            </div>
        </div>
    </div>
</div>