<style>
    .item-list {
        max-width: 10px;
        max-height: 100px;
    }

    .item-img {
        display: block;
        height: 150px;
        width: 150px;
        border-radius: 10%;
        margin: 10px auto;
    }

    .img-tag {
        width: 150px;
        margin: 2px auto;
    }
</style>
<div #itemDialog></div>
<div class="row">
    <div class="col-md-4">
        <a class="item-list" (click)="openItemDialogAnchor()">
            <img src="../images/avatar.png" class="item-img" />
        </a>
        <div class="img-tag">
            <h3>0.0$</h3>
            <div>Service 1</div>
        </div>
    </div>
    <div class="col-md-4">
        <a class="item-list" (click)="openItemDialogAnchor()">
            <img src="../images/avatar.png" class="item-img" />
        </a>
        <div class="img-tag">
            <h3>0.0$</h3>
            <div>Service 1</div>
        </div>

    </div>
    <div class="col-md-4">
        <a class="item-list" (click)="openItemDialogAnchor()">
            <img src="../images/avatar.png" class="item-img" />
        </a>
        <div class="img-tag">
            <h3>0.0$</h3>
            <div>Service 1</div>
        </div>
    </div>
</div>