<div class="menu-container">
    <div  class="row">
        <div >
            <div class="question-title">Related Topics</div>
            <div class="question-list">
                <p *ngFor="let category of categories">{{category.name}}</p>
            </div>
        </div>
    </div>
    <!--<div class="row">
        <div >
            <div class="question-title">Related Content</div>
            <div class="question-list">
                <p *ngFor="let question of questionMenuList">&iquest;{{question.questiontext}}?</p>
            </div>
        </div>
    </div>-->
</div>