<style>
    .question-title {
        color: dodgerblue;
        border-bottom: 1px solid #efe6e6;
    }

    .question-list {
        color: #797575;
    }

    .menu-container {
        float: right;
        text-align: left;
        padding: 10px;
        margin-top: 50px;
        width: 60%;
        font-size: 12px;
    }
</style>
<div class="menu-container">
    <div  class="row">
        <div >
            <div class="question-title">Related Question</div>
            <div class="question-list">
                <p *ngFor="let question of questionMenuList">&iquest;{{question.questiontext}}?</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div >
            <div class="question-title">Related Content</div>
            <div class="question-list">
                <p *ngFor="let question of questionMenuList">&iquest;{{question.questiontext}}?</p>
            </div>
        </div>
    </div>
</div>