<style>
    .img-container {
        margin-left: 10px;
    }

    .checkbox-container {
        margin-top: 10px;
        margin-left: 10px;
        float: left;
    }
</style>
<form #answerVM="ngForm" class="form-horizontal " role="form">
    <div class="modal-header">
        <h1>&iquest;{{question.title}}?</h1>
        <div class="row">
            <div class="img-container" *ngIf="!isAnonymous">
                <img class="user-image" src="../../../../profile/{{_logObj.user.imageUrl?_logObj.user.imageUrl:'avatar.png'}}" />
            </div>
            <div class="img-container" *ngIf="isAnonymous" class="col-lg-1">
                <img class="user-image " src="../../../../profile/Anonymous.png" />
            </div>

            <div class="checkbox-container">
                <input type="checkbox" #answerAnonymous [checked]=false (change)="onChange(answerAnonymous.checked)" /> <label>Preguntar Anonimo</label>
                <a *ngIf="!isFullScreen" [routerLink]="['/question/questionfullscreen',question.id]">Go full screen</a>
            </div>
        </div>
        <div class="header-info">{{_logObj.user?.name}}  {{_logObj.user?.occupassion}} </div>
        <!--<div [hidden]="answerField.valid || answerField.pristine"
                 class="alert alert-danger">
            Please type your answer and then submit!!
        </div>-->

    </div>
    <div class="modal-body">
        <ckeditor [(ngModel)]="answerText" [ngModelOptions]="{standalone: true}" id="answer"
                  required name="answerField" #answerField="ngModel"
                  [config]="{   filebrowserUploadUrl : '/browser/browse/type/all',
                                           filebrowserImageUploadUrl : '/browser/browse/type/image',
                              removeButtons : 'About,Maximize,TextColor,Styles,Format,Font,FontSize,Flash,Table,HorizontalRule,Smiley,SpecialChar,PageBreak,Iframe,Unlink,Anchor,BidiLtr,Language,BidiRtl,JustifyLeft,JustifyCenter,JustifyRight,JustifyBlock,CreateDiv,Blockquote,Outdent,Indent,BulletedList,NumberedList,CopyFormatting,RemoveFormat,Underline,Strike,Subscript,Superscript,Form,Radio,TextField,Textarea,Select,Button,ImageButton,HiddenField,Scayt,Find,SelectAll,Replace,BGColor,ShowBlocks,Checkbox,Source,Save,Templates,Cut,Undo,Redo,Copy,Paste,PasteText,PasteFromWord,Print,Preview,NewPage,Checkbox'}"
                  debounce="500">
        </ckeditor>
    </div>
    <div class="modal-footer">
        <div style="float:left;color:#737373;line-height: 34px;">
            <button type="button" (click)="submitAnswer(question.id)" data-dismiss="modal" class="btn btn-primary">Submit</button>
            <button type="button" (click)="submitAnswerAsDraft(question.id)" data-dismiss="modal" class="btn btn-primary">Save As Draft</button>
        </div>
        <div class="social-icon">
            <a><img class="social-image" src="../images/facebooklogo.jpg" /></a>
            <a><img class="social-image" src="../images/twitter.png" /></a>
        </div>
    </div>
</form>