<style>
    .img-container {
        margin-left: 10px;
    }

    .checkbox-container {
        margin-left: 10px;
        float: left;
    }

    .social-share {
        float: right;
        position: relative;
        width: 40px;
        margin-top: 10px;
    }

    .img {
        margin-right: 22px;
    }

    #img1 {
        left: 0;
    }

    #img2 {
        left: 26px;
    }
    .save-as-draft {
            background-color: #b9caba;
    }
    .header-info {
            margin-left: 70px;
    }
    label{
        font-weight:normal;
    }
</style>
<form #answerVM="ngForm" class="form-horizontal " role="form">
    <div class="modal-header">
        <question-header [question]="question"></question-header>
        <h1>{{question.title}}</h1>
        <div class="row">
            <div class="img-container" *ngIf="!isAnonymous">
                <img class="user-image" src="{{_logObj.user.imageUrl}}" />
            </div>
            <div class="img-container" *ngIf="isAnonymous">
                <img class="user-image " src="../../../../profile/Anonymous.png" />
            </div>
            <div *ngIf="!isAnonymous" class="header-info">{{_logObj.user?.name}}{{_logObj.user?.occupassion?' '+_logObj.user?.occupassion:''}} </div>
            <div *ngIf="isAnonymous" class="header-info">Anonymous</div>
            <div *ngIf="!isDraft" class="checkbox-container">
                <input type="checkbox" #answerAnonymous [checked]=false (change)="onChange(answerAnonymous.checked)" /> <label>Anónimo </label>
                <a *ngIf="!isFullScreen" [routerLink]="['/question/questionfullscreen',question.id]">
                    <!--Go full screen--> ,Ver página completa
                </a>
            </div>
        </div>
       
    </div>
    <div class="modal-body">
        <quill-editor [(ngModel)]="answerText" [ngModelOptions]="{standalone: true}" placeholder="Escríbe aquí"
                      [modules]="{  toolbar: [['bold', 'italic', 'underline'], ['link', 'image']] }"
                      required name="answerField" #answerField="ngModel"></quill-editor>
    </div>
    <div class="modal-footer">
        <div style="float:left;color:#737373;line-height: 34px;">
            <button *ngIf="!isDraft" type="button" (click)="submitAnswer(question.id)" data-dismiss="modal" class="btn btn-primary">
                <!--Submit-->Enviar
            </button>
            <button *ngIf="!isDraft" type="button" (click)="submitAnswerAsDraft(question.id)" data-dismiss="modal" class="btn save-as-draft">
                <!--Save As Draft-->Guardar borrador
            </button>
            <button *ngIf="isDraft" type="button" (click)="submitAnswer(question.id)" data-dismiss="modal" class="btn btn-primary">
                <!--Publish Answer-->
                Publicar Respuesta
            </button>
        </div>
        <div class="social-share">
            <a href="https://www.facebook.com/sharer/sharer.php?u={{question?.shareUrl}}&title={{question?.title}}"
               class="SHARE FACEBOOK"
               onclick='window.open(this.href, "popupwindow", "width=800,height=500,left=200,top=5,scrollbars,toolbar=0,resizable");return false;' target="social">
                <img class="social-image" id="img1" src="../images/facebooklogo.jpg" />
            </a>
            
            <a href="https://twitter.com/ntent/tweet?text={{question?.title}}Check out:{{question?.shareUrl}}"
               class="SHARE TWITTER"
               onclick='window.open(this.href, "popupwindow", "width=800,height=500,left=200,top=5,scrollbars,toolbar=0,resizable");return false;' target="social">
                <img class="social-image" id="img2" src="../images/twitter.png" />
            </a>
          
        </div>
    </div>
</form>