<style>
    .dash-panel {
        margin-top: 200px;
    }

    .status-list > .row > ul > li {
        float: left;
        padding-left: 10px;
    }
    .progress-value{
        color:#f29200;
    }
/*=========Buttons========*/
ul {
        list-style: none;
        padding:0;
    }
     .menu-button {
        padding: 4px 12px;
        font-family: typogroteskrounded;
        font-weight:600;
        min-width: 175px;
        margin: 5px 0;
        background-color: #ededed;
        border: none;
        border-radius:10px;

    }
    .menu-button:hover,:focus{
        background-color:#f29200;
        border:none;
        outline:none;
        outline-offset:0;
    }
    
/*=================*/

/*======Image======*/
.profile-pic{
    text-align:center;
}
    .profile-img{
        height:150px;
        width:150px;
        border-radius:50px;
    }

    .title{
        text-align:center;
        font-family:arial;
        margin-top:3px;
    }
/*=============Status Lis=======*/
.status-list{
    margin:20px 10px;

}
   .status-list>.row>.col-md-3{
       margin-top:10px;
       font-family:arial;
   }
    .inactive {
        color:#bdbdbd;
    }
</style>
<ap-navdashboard></ap-navdashboard>
<dash-tab></dash-tab>
<div class="row dash-panel">
    <div class="col-lg-2"> space</div>

    <div class="col-lg-2">
        <div class="profile-pic">
            <img class="profile-img" src="../images/userAdd.png" />
            <div class="row title">Photo Edit</div>
        </div>
        <div class="profile-border">
            <hr />
        </div>
        <div class="menu-list">
            <ul>
                <li><button class="btn btn-default menu-button">Contact info</button> </li>
                <li><button class="btn btn-default menu-button">Biography</button> </li>
                <li><button class="btn btn-default menu-button">Education</button></li>
                <li><button class="btn btn-default menu-button">Experience</button></li>
                <li><button class="btn btn-default menu-button">Skills</button></li>
                <li><button class="btn btn-default menu-button">Practice Areas</button></li>
                <li><button class="btn btn-default menu-button">Insight</button></li>

            </ul>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="description">
            <h1>User</h1>
            <p>
                Conceptually ksdjfklsdf sdlfjksldkjfj sdfjsd sdjfsd fsdjfpsdjf spdjds pfjsdpfosjd fojsdpofjsdofjsp dofjpsodj psodfpsdojfpsdfjspdfojsdsdp jfspdf sdspdo jfpsdojf psdjf psdfjspdfjspdofjspdofjspdojfpsdofjpsdofjspdofjpsdjfsdpfj
            </p>
        </div>
        <div class="progresstitle">
            your profile is <span class="progress-value">70%</span> complete
        </div>
        <div class="progress-image">
            <!-- ====Need to change later=== -->
            <div class="progress">
                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50"
                     aria-valuemin="0" aria-valuemax="100" style="width:50%">
                    50% Complete (info)
                </div>
            </div>
            <!-- ======== -->
        </div>
        <div class="status-list">
            <div class="row">
                <div class="col-md-3 inactive">(&#x2716;)Contact info</div>
                <div class="col-md-3">(&#10004;)Biography</div>
                <div class="col-md-3">(&#10004;)Education</div>
                <div class="col-md-3 inactive">(&#x2716;)Experience</div>
                <div class="col-md-3">(&#10004;)Experience</div>
                <div class="col-md-3 inactive">(&#x2716;)Skills</div>
                <div class="col-md-3">(&#10004;)Practice Areas</div>
                <div class="col-md-3 inactive">(&#x2716;)Insight</div>
            </div>
        </div>

        <div class="info-form">
            <div class="panel panel-default">
                <div class="panel-heading">Panel Heading</div>
                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <label for="email">Tag Line</label>
                            <input type="text" class="form-control" id="email">
                        </div>
                        <div class="form-group">
                            <label for="pwd">About Me</label>
                            <textarea class="form-control" rows="5" id="comment"></textarea>
                        </div>

                        <button type="submit" class="btn btn-default menu-button">Submit</button>
                        <button type="submit" class="btn btn-default menu-button">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-2">Space</div>
</div>


