
h5 {
    display: inline;
}

.question-contents {
    padding-left: 10px;
}

.modal-dialog {
    width: 600px;
    margin: 150px auto;
}

.btn {
    padding: 2px 12px;
    border: 1px solid #bbcadc;
    background-color: #f1f8fb;
    color: #506db6;
}

.btn:hover {
    border-color: #2865a1;
}

.user-image {
    height: 40px;
    width: 40px;
    border-radius: 20px;
}

.answer-text {
    font-size: 16px;
    color: #797575;
}

.header-info {
    font-size: 12px;
}

.article-details {
    float: left;
    width: 98%;
    padding-left: 2%;
}

hr {
    width: 98%;
}


.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid orange;
    border-right: 16px solid green;
    border-bottom: 16px solid blue;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin-top: 25%;
    margin-left: 25%;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
