<style>
    .category-header {
    }

        .category-header h2 {
            display: inline-block;
        }

        .category-header h4 {
            text-align: center;
        }

    .read-question-button {
        margin-left: 15px;
        margin-bottom: 10px;
        display: inline-block;
    }

        .read-question-button > a {
            margin-right: 10px;
            font-size: 17px;
        }

    .read-question-button .btn {
        width: 200px;
        color: black;
    }

    read-question-button .dropdown-menu {
        left: 5px;
        min-width: 200px;
    }

    .tags-container {
        margin-left: 0;
        margin-right: 0;
    }

    .more-btn {
        float: left;
        padding: 5px;
        font-weight: 700;
    }
</style>
<div class="row row-fix">
    <div #dialogAnchor></div>
    <div #answerAnchor></div>
</div>
<div class="left-panel">
    <div id="leftPanel">
        <level></level>
        <topfive-question-left-menu> </topfive-question-left-menu>
        <topfive-user></topfive-user>
    </div>
</div>
<div class="right-panel">
    <category-left-menu [caegoryId]="categoryId"></category-left-menu>
</div>
<div class="center-width center-body z-ground">
    <div class="modal-overlay z-modal" *ngIf="loader.isLoading">
        <div class="loader"></div>
    </div>
    <div class="row row-fix category-header">
        <div class="pull-left">
            <img align="left" class="img-rounded img-category" src="{{categorySelected?.image}}" />
            <h2 class="category-title">
                {{categorySelected?.name}}
            </h2>
        </div>
        <div class="pull-right">
            <h4>
                {{totalCount?.totalFollowers}}
            </h4>
            <h4>Followers</h4>
        </div>
    </div>

    <div class="row row-fix">
        <button type="button" (click)="addFollower(categorySelected.id)" class="alta-btn alta-btn-lg">Follow</button>
        <p>
            {{categorySelected?.description}}
        </p>
    </div>
    <br />
    <div class="row tags-container">
        <div class="tags" *ngFor="let topic of topFiveTopics">
            <a [routerLink]="['/question/home',topic?.categoryId,topic?.id,0]"> {{topic.topicName}}</a>
        </div>
        <div class="more-btn"><a (click)="showMoreTopics(question)" *ngIf="!showMoreTopic">Show more..</a></div>
        <div class="more-btn"><a (click)="hideMoreTopics(question)" *ngIf="showMoreTopic">Hide more..</a></div>
    </div>
    <div class="filter-panel" *ngIf="!showMoreTopic">
        <div class="read-question-button">
            <a (click)="getQuestionsAnswered(categorySelected.id)">
                {{totalCount?.totalAnsweredQuestion}}  Read
            </a>
            <a (click)="getQuestionNotAnswered(categorySelected.id)">
                {{totalCount?.totalUnAnsweredQuestion}}  Answer
            </a>
        </div>
        <div class="read-question-button">
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                    <span class="pull-left" id="icon-select">{{FilterParam}}</span>
                    <span id="icon-view" style="margin-left: 20px; float: left; margin-top: 3px;"></span>
                    <span class="caret pull-right" style="margin-top:8px;"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                    <li role="presentation"><a (click)="GetLatestQuestionByDate(categorySelected.id)">The latest question</a></li>
                    <li role="presentation"><a (click)="getbestquestionbytotallike(categorySelected.id)"> The best Question</a></li>
                    <li role="presentation"><a (click)="getmorequestionbyviewcount(categorySelected.id)">The more views</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div infinite-scroll
         [infiniteScrollDistance]="scrollDistance"
         [infiniteScrollThrottle]="throttle"
         (scrolled)="onScrollDown()">
    </div>
    <div *ngFor="let question of questions">
        <question-panel [question]="question"></question-panel>
    </div>
    <!-- For Hover pop up get some space to show -->
    <div style="height:200px;position:relative;"></div>
</div>
