.modal-dialog {
    width: 600px;
    margin: 150px auto;
}
.btn{
    padding: 2px 12px;
    border: 1px solid #bbcadc;
    background-color: #f1f8fb;
    color: #506db6;
}
 .btn:hover{
     border-color:#2865a1;
 }
.user-image {
    height: 40px;
    width: 40px;
    border-radius: 20px;
}

.answer-text {
    font-size: 16px;
    color: #797575;
}

.image-border {
    height: 300px;
    width: 3px;
}

.left-border {
    float: left;
}

.header-info {
    font-size: 12px;
}

.article-details {
    float: left;
    width: 98%;
    padding-left: 2%;
}

hr {
    width: 150%;
    margin-left: -30%;
}

h1 {
    margin-left: -17px;
}
