<div class="row">
    <div class="col-md-3 left-gap">
        <question-left-menu></question-left-menu>
    </div>
    <div class="col-md-8">

        <div class="loader" *ngIf="loader.isLoading"></div>
        <div class="row">
            <img align="left" class="img-rounded img-category" src="{{categorySelected?.image}}" />
            <h2 class="category-title">
                {{categorySelected?.name}}
            </h2>
        </div>
        <div class="row">
            <button type="button" (click)="addFollower(categorySelected.id)" class="btn btn-lg">Follow</button>
            <p>
                {{categorySelected?.description}}
            </p>
        </div>
        <div class="row">
            <table class="table table-bordered table-nonfluid" width="200">
                <tr>
                    <td class="total">{{totalCount?.totalQuestions}} Questions </td>
                    <td class="total">{{totalCount?.totalFollowers}} Followers</td>
                </tr>
            </table>
        </div>
        <div class="row read-question-button">
            <button (click)="getQuestionNotAnswered(categorySelected.id)" type="button" class="btn btn-primary outline">
                <span class="glyphicon glyphicon-question-sign"></span> Question
            </button>
            <button (click)="getQuestionsAnswered(categorySelected.id)" type="button" class="btn btn-primary outline">
                <span class="glyphicon glyphicon-pencil"></span> Answers
            </button>
        </div>

        <div class="clearfix"></div>
        <div infinite-scroll
             [infiniteScrollDistance]="scrollDistance"
             [infiniteScrollThrottle]="throttle"
             (scrolled)="onScrollDown()">
        </div>

        <div *ngFor="let question of questions" class="row">
            <div class="panel-article">
                <div class="questions-container">
                    <div class="left-border">
                        <img class="image-border" src="../../../../images/border.png" />
                    </div>
                    <div class="details-container">
                        <question-header [question]="question"></question-header>
                        <div class="article-details">
                            <user-info [userObj]="question.lastAnswer?.userViewModel" [viewDate]="question.lastAnswer?.answerDate"></user-info>
                            <div class="answer-text" [innerHTML]="question.lastAnswer?.text.substring(0,200)"></div>
                            <div *ngIf="question.answers[question.answers.length-1]"> by {{question.answers[question.answers.length-1]?.userViewModel?.name}} {{question.answers[question.answers.length-1]?.createdOn | date: 'dd MMM, yyyy'}}</div>
                            <hr />
                            <ap-status [questionObj]="question"> </ap-status>
                            <ap-comment [questionId]="question.id"></ap-comment>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
