.dialog {
    padding: 30px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
    max-width: 60%;
    margin: 20px auto;
    flex-grow: 1;
    position:relative;
}

    .dialog header {
        border-bottom: 1px solid black;
        font-size: 12px;
        padding: 5px;
        display: flex;
    }

        .dialog header .title {
            flex-grow: 1;
            cursor: default;
        }
.exit-button {
            cursor: pointer;
            position:absolute;
            top:15px;
            right:15px;
            font-size: 30px;
        }
