<div #logginAnchor></div>
<div class="row">
    <div class="collapse comment-panel" id="questionComment{{commentId}}">
        <form #commentForm="ngForm" class="form-horizontal " role="form">
            <div class="comment-input">
                <img class="user-image" src="{{_logObj.user.imageUrl?_logObj.user.imageUrl:'../../profile/avatar.png'}}" />
                <input class="form-control" id="comment" [(ngModel)]="commentText" [ngModelOptions]="{standalone: true}" />
                <button type="button" class="btn btn-primary" (click)="submitComment(questionId,answerId)">Comenta</button>
            </div>
        </form>
        <div style="clear: both;"></div>
        <div class="card card-block">
            <div *ngFor="let comment of comments" class="clearfix">
                <div *ngIf="comment">
                    <img class="user-image comment-img" src="{{comment?.userViewModel?.imageUrl}}" />
                    <div class="header-info">{{comment?.userViewModel?.name}}</div>
                    <p class="answer-text">{{comment.commentText}}</p>
                </div>
                <hr />
            </div>
        </div>
    </div>
</div>
