<ap-navdashboard></ap-navdashboard>
<dash-tab></dash-tab>
<div class="row dash-panel">
    <!--<div class="col-lg-2"> space</div>-->

    <div class="col-lg-2 col-md-offset-2">
        <div class="left-panel">
            <div class="profile-pic">
                <img class="profile-img" src="../images/userAdd.png" />
                <div class="row title">Photo Edit</div>
            </div>
            <img class="profile-border" src="../images/border-horizontal.png" />
            <div class="menu-list">
                <ul>
                    <li><button class="btn btn-default menu-button" routerLink="/dashboard/editprofile/contact">Contact info</button> </li>
                    <li><button class="btn btn-default menu-button" routerLink="/dashboard/editprofile/biography">Biography</button> </li>
                    <li><button class="btn btn-default menu-button" routerLink="/dashboard/editprofile/education">Education</button></li>
                    <li><button class="btn btn-default menu-button" routerLink="/dashboard/editprofile/experience">Experience</button></li>
                    <li><button class="btn btn-default menu-button" routerLink="/dashboard/editprofile/skill">Skills</button></li>
                    <li><button class="btn btn-default menu-button" routerLink="/dashboard/editprofile/practice">Practice Areas</button></li>
                    <li><button class="btn btn-default menu-button" routerLink="/dashboard/editprofile/insight">Insight</button></li>

                </ul>
            </div>
        </div>

    </div>
    <div class="col-lg-6">
        <div class="description">
            <h1>User</h1>
            <p>
                Conceptually ksdjfklsdf sdlfjksldkjfj sdfjsd sdjfsd fsdjfpsdjf spdjds pfjsdpfosjd fojsdpofjsdofjsp dofjpsodj psodfpsdojfpsdfjspdfojsdsdp jfspdf sdspdo jfpsdojf psdjf psdfjspdfjspdofjspdofjspdojfpsdofjpsdofjspdofjpsdjfsdpfj
            </p>
        </div>
        <div class="progresstitle">
            your profile is <span class="progress-value">70%</span> complete
        </div>
        <div class="progress-image">
            <img class="progress-bar-img" src="../images/border-horizontal.png" />
            <img class="progress-background" src="../images/border-horizontal.png" />

        </div>
        <div class="status-list">
            <div class="row">
                <div class="col-md-3 inactive">(&#x2716;)Contact info</div>
                <div class="col-md-3">(&#10004;)Biography</div>
                <div class="col-md-3">(&#10004;)Education</div>
                <div class="col-md-3 inactive">(&#x2716;)Experience</div>
                <div class="col-md-3">(&#10004;)Experience</div>
                <div class="col-md-3 inactive">(&#x2716;)Skills</div>
                <div class="col-md-3">(&#10004;)Practice Areas</div>
                <div class="col-md-3 inactive">(&#x2716;)Insight</div>
            </div>
        </div>
        <form>
            <div class="info-form">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="heading">Panel Heading</div>
                        <div class="pull-right heading">Required(*)</div>
                    </div>
                    <div class="panel-body">
                        <router-outlet></router-outlet>
                    </div>
                </div>
                <div class="submit-panel">
                    <button class="btn btn-default menu-button">Cancel</button>
                    <button class="btn btn-default menu-button" (click)="Submit()">Submit</button>
                </div>
            </div>
        </form>
        
    </div>
</div>


