<!--<ap-navdashboard></ap-navdashboard>
<dash-tab></dash-tab>-->
<div class="row dash-panel">
    <div class="col-lg-2 col-md-offset-2">
        <div class="left-panel">
            <div class="profile-pic">
                <img class="profile-img" src="{{imageLink}}" />
                <div class="row title">Photo Edit</div>
            </div>
            <img class="profile-border" src="../images/border-horizontal.png" />
                <input type="file" name="documents" class="custom-file-input" (change)="onChange($event)" [(ngModel)]="doc" #documents="ngModel">
            <div class="menu-list">
                <ul>
                    <li><button class="btn btn-default menu-button" (click)="changeHeader('Contact Info')" routerLink="/dashboard/editprofile/contact">Contact info</button> </li>
                    <li><button class="btn btn-default menu-button" (click)="changeHeader('Biography')" routerLink="/dashboard/editprofile/biography">Biography</button> </li>
                    <li><button class="btn btn-default menu-button" (click)="changeHeader('Education')" routerLink="/dashboard/editprofile/education">Education</button></li>
                    <li><button class="btn btn-default menu-button" (click)="changeHeader('Experience')" routerLink="/dashboard/editprofile/experience">Experience</button></li>
                    <li><button class="btn btn-default menu-button" (click)="changeHeader('Skills')" routerLink="/dashboard/editprofile/skill">Skills</button></li>
                    <li><button class="btn btn-default menu-button" (click)="changeHeader('Practice Areas')" routerLink="/dashboard/editprofile/practice">Practice Areas</button></li>
                    <li><button class="btn btn-default menu-button" (click)="changeHeader('Insight')" routerLink="/dashboard/editprofile/insight">Insight</button></li>
                </ul>
            </div>
        </div>

    </div>
    <div class="col-lg-6">
        <div class="description">
            <h1>User</h1>
            <p>
                <button (click)="showSuccess()">Toast</button>
            </p>
        </div>
        <div class="progresstitle">
            your profile is <span class="progress-value">70%</span> complete
        </div>
        <div class="progress-image">
            <img class="progress-bar-img" src="../images/border-horizontal.png" />
            <img class="progress-background" src="../images/border-horizontal.png" />
        </div>
        <div class="status-list">
            <div class="row">
                <div class="col-md-3 inactive">(&#x2716;)Contact info</div>
                <div class="col-md-3">(&#10004;)Biography</div>
                <div class="col-md-3">(&#10004;)Education</div>
                <div class="col-md-3 inactive">(&#x2716;)Experience</div>
                <div class="col-md-3">(&#10004;)Experience</div>
                <div class="col-md-3 inactive">(&#x2716;)Skills</div>
                <div class="col-md-3">(&#10004;)Practice Areas</div>
                <div class="col-md-3 inactive">(&#x2716;)Insight</div>
            </div>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>


