@model IEnumerable<Questions.Domain.Category>
@*<style>
    .row {
        margin-top: 58px;
        margin-left: -434px;
    }

    .table {
        margin-left: 244px;
    }

    /*.table-responsive {
        overflow-x: hidden;
        overflow-y: auto;
        height: 349px;
    }*/
    .table-responsive {
        width: 605px;
    }
</style>*@
<h2>Delete Category</h2>

<div class="row">
    <div class="col-md-4">
        .
    </div>
    <div class="col-md-4">
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-bordered table-striped" id="myTable">
                    <thead>
                        <tr>
                            <th style="width:1%">
                                CategoryName
                            </th>
                            <th style="width:10%">
                                Action
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.HiddenFor(modelItem => item.Id)
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    <button id="btnDelete" type="button" class="btn btn-danger" onclick="DeleteCategory(this,'@item.Id')">
                                        DeleteCategory
                                    </button>
                                </td>

                            </tr>
                        }
                    </tbody>

                </table>
            </div>

        </div>
    </div>
</div>
<script>
    function DeleteCategory(element, categoryId) {

        alertify.confirm("Do you really want to delete?", function () {
            //user clicked "ok"
            var url = '@Url.Action("DeleteCategory", "Category", new { Area = "Admin" })';
            var obj = {};
            obj.categoryId = categoryId;
            console.log(obj);
            $.ajax({
                url: url,
                type: 'POST',
                data: obj,
                async: false,
                success: function (respText) {
                    console.log(respText);
                    alertify.alert('Deleted successfully',
                        function () {
                            location.reload(true);
                        });

                },
                error: function (jqXhr, textStatus, errorThrown) {

                }
            });

        }, function () {
            // user clicked "cancel"
        });
        //var confrimDelete = confirm("Do you really want to delete?");
        //if (confrimDelete == true) {

        // }

    }
</script>