@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Cambia la contraseña";
}
<style>
    .form-horizontal {
        margin:auto;
        max-width:655px;
    }
</style>

<h2>@ViewData["Title"].</h2>

<form asp-controller="Manage" asp-action="ChangePassword" method="post" class="form-horizontal" role="form">
    <h4>Cambiar formulario de contraseña</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="OldPassword" class="col-md-4 control-label"></label>
        <div class="col-md-8">
            <input asp-for="OldPassword" class="form-control" />
            <span asp-validation-for="OldPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="NewPassword" class="col-md-4 control-label"></label>
        <div class="col-md-8">
            <input asp-for="NewPassword" class="form-control" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="col-md-4 control-label"></label>
        <div class="col-md-8">
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-4 col-md-8">
            <button type="submit" class="btn btn-default">Cambia la contraseña</button>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
