@model IndexViewModel
@{
    ViewData["Title"] = "Contraseña cambiada con éxito";
}
<style>
    .success-msg {
        text-align: center;
        margin: 0 auto;
        min-width: 70%;
        font-size: x-large;
        display: block;
        height: auto;
    }
</style>

<h2>@ViewData["Title"].</h2>
<p class="text-success"></p>
<div>
    <div class="form-control success-msg ">
        tu contraseña ha sido cambiada exitosamente
        <a href="Account/Login">Ir a Iniciar sesión</a>
    </div>
</div>