<style>
    .edit:hover span {
        visibility: visible;
        color: #f6912b;
    }

    .profile-info input {
        font-family: "myriadpro-regular";
        font-size: 18px;
        font-weight: 700;
        line-height: 27.5px;
        border: 1px solid #bdbdbd;
        border-radius: 3px;
    }

    .credential-text {
        font-size: 18px;
        display: inline-block;
        margin-right: 5px;
    }

    .profile-info h1 {
        display: inline;
    }

    .user-name {
        margin-top: 10px;
        margin-bottom: 5px;
    }

        .user-name a, .user-name button {
            margin-left: 5px;
        }

    .panel-heading {
        position: relative;
    }

    .credential {
        margin-bottom: 5px;
    }

        .credential a {
            display: inline-block;
        }

    .heading {
        display: inline;
    }

    .dash-panel {
        margin-top: 130px;
        font-family: 'myriadpro-regular';
    }
    /*============Input type: file custom CSS====*/
    .custom-file-input {
        width: 125px;
        height: 50px;
        margin: 5px auto;
    }

        .custom-file-input:focus {
            outline: none;
        }

        .custom-file-input::-webkit-file-upload-button {
            visibility: hidden;
        }

        .custom-file-input::before {
            text-align: center;
            width: 100%;
            content: 'Upload Image';
            display: inline-block;
            border-radius: 3px;
            background-color: #ededed;
            padding: 5px 8px;
            outline: none;
            white-space: nowrap;
            -webkit-user-select: none;
            cursor: pointer;
            font-family: typogroteskrounded;
            font-weight: 700;
            font-size: 10pt;
        }

        .custom-file-input:hover::before {
            border-color: black;
        }

        .custom-file-input:active::before {
            background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
        }

    .description-panel {
        min-height: 50px;
        min-width: 100%;
    }

    .btn-container {
        text-align: right;
        margin-top: 10px;
    }

        .btn-container a {
            display: inline-block;
        }

    a:hover, a:focus {
        outline: none;
        text-decoration: none;
        color: #F6912B;
    }

    .edit {
        font-size: 13px;
        font-size: 13px;
        margin-left: 4px;
    }

    /*.update-credential {
        margin-left: 10px;
    }*/
    .profile-image-center .btn {
        color: black;
    }

    .display-hide {
        display: none;
    }
    /*User name display*/
    #userName:hover #userName-btn {
        display: inline-block;
    }
    /*Credential display*/
    #credential-edit {
        display: none;
    }

    #credential:hover #credential-edit {
        display: inline-block;
    }
    /*Description display*/
    #description-edit {
        display: none;
    }

    #description:hover #description-edit {
        display: inline-block;
    }
</style>
<div>
    <div #credentialDialogAnchor></div>
    <div #previewImageDialogAnchor></div>
    <div #twitterDialogAnchor></div>
    <div #facebookDialogAnchor></div>
    <div #linkedinDialogAnchor></div>

</div>
<div class="profile-info-container">
    <div class="col-md-3">
        <div class="profile-image-center">
            <img class="profile-image" src="{{imageLink}}" />
            <button type="button" name="documents" class="btn btn-default" (click)="onUploadClick()" *ngIf="isOwner">Upload Image</button>
        </div>
    </div>
    <div class="col-md-9">
        <div class="profile-info">
            <!-- ===================User Name================== -->
            <div class="user-name">
                <div id="userName" [hidden]="!isUserHidden">
                    <h1> {{credential.firstName}} {{credential.lastName}} </h1>
                    <a *ngIf="isOwner" id="userName-btn" class="display-hide" (click)="isUserHidden = false"><span><i class="fa fa-edit"></i>Edit Name</span> </a>
                </div>
                <div [hidden]="isUserHidden" *ngIf="isOwner">
                    <input placeholder="First Name" [(ngModel)]="credential.firstName" type="text" />
                    <input placeholder="Last Name" [(ngModel)]="credential.lastName" type="text" />
                    <a (click)="isUserHidden = true">Cancel</a>
                    <button class="btn btn-primary" (click)="UpdateUserName()">Update</button>
                </div>
            </div>
            <!-- Credential -->
            <div *ngIf="!credential.title && isOwner">
                <a (click)="openCredentialDialogBox()"> Add profile credential</a>
            </div>
            
            <div id="credential" *ngIf="credential.title">
                <div class="credential-text">{{credential.title}}</div>
                <a id="credential-edit" *ngIf="isOwner" (click)="openCredentialDialogBox()"><span><i class="fa fa-edit"></i>Edit credential</span> </a>
            </div>
            <!-- description -->
            <a *ngIf="!credential.description && isOwner" (click)="showDescription = false"> Write a description about yourself</a>
            <div id="description" [hidden]="(!showDescription)">
                
                <div [innerHTML]="credential.description"></div>
                <a id="description-edit" *ngIf="isOwner"><span (click)="showDescription = false"><i class="fa fa-edit"></i>edit description</span> </a>
            </div>
            <div class="description-panel" [hidden]="showDescription" *ngIf="isOwner">
                <quill-editor [(ngModel)]="credential.description" [ngModelOptions]="{standalone: true}"
                              [modules]="{toolbar: [['bold', 'italic', 'underline'], ['link', 'image']]}"
                              required name="answerField" #answerField="ngModel"></quill-editor>
                <div class="btn-container">
                    <a (click)="showDescription = true">Cancel</a>
                    <button class="btn btn-primary" (click)="updateDecription()">Update</button>
                </div>
            </div>
            <ul *ngIf="isOwner">
                <li>
                    <a (click)="twitter()"> Twitter</a>
                    <a class="edit" (click)="opentwitterDialogBox()"><i class="fa fa-edit"></i></a>
                </li>
                <li>
                    <a (click)="facebook()"> Facebook</a>
                    <a class="edit" (click)="openfacebookDialogBox()"><i class="fa fa-edit"></i></a>
                </li>
                <li>
                    <a (click)="linkedin()"> Linkedin</a>
                    <a class="edit" (click)="openlinkedinDialogBox()"><i class="fa fa-edit"></i></a>
                </li>
            </ul>
        </div>

    </div>
</div>