<style>
    
</style>
<div class="profile-info-container">
    <div class="col-md-2">
        <div class="profile-image-center">
            <img class="profile-image" src="../images/avatar.png" />
        </div>
    </div>
    <div class="col-md-10" style="border:1px solid">
        <div class="profile-info" >
            <h1> Rafael Yonda </h1>
            <a> Add Credentials </a>
            <a> Write Description about yourself </a>
            <ul>
                <li><a>Twitter</a></li>
                <li><a>Facebook</a></li>
                <li><a>Linkedin</a></li>
            </ul>
        </div>

    </div>
</div>