<style>
    .edit {
        margin-left: 5px;
    }

        .edit span {
            visibility: hidden;
        }

        .edit:hover span {
            visibility: visible;
            color: #f6912b;
        }

    .user-name {
        margin-top: 10px;
    }

    .profile-info input {
        font-family: "myriadpro-regular";
        font-size: 25px;
        font-weight: 700;
        line-height: 27.5px;
        border: 1px solid #bdbdbd;
        border-radius: 3px;
    }

    .profile-info h1 {
        display: inline;
    }

    .user-name a {
        display: inline-block;
    }

    .panel-heading {
        position: relative;
    }

    .credential a {
        display: inline-block;
    }

    .heading {
        display: inline;
    }

    .dash-panel {
        margin-top: 130px;
        font-family: 'myriadpro-regular';
    }
    /*============Input type: file custom CSS====*/
    .custom-file-input {
        width: 125px;
        height: 50px;
        margin: 5px auto;
    }

        .custom-file-input:focus {
            outline: none;
        }

        .custom-file-input::-webkit-file-upload-button {
            visibility: hidden;
        }

        .custom-file-input::before {
            text-align: center;
            width: 100%;
            content: 'Upload Image';
            display: inline-block;
            border-radius: 3px;
            background-color: #ededed;
            padding: 5px 8px;
            outline: none;
            white-space: nowrap;
            -webkit-user-select: none;
            cursor: pointer;
            font-family: typogroteskrounded;
            font-weight: 700;
            font-size: 10pt;
        }

        .custom-file-input:hover::before {
            border-color: black;
        }

        .custom-file-input:active::before {
            background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
        }

    .description-panel {
        min-height: 50px;
        min-width: 100%;
    }

    .btn-container {
        text-align: right;
        margin-top: 10px;
    }

        .btn-container a {
            display: inline-block;
        }
</style>
<div>
    <div #credentialDialogAnchor></div>
</div>
<div class="profile-info-container">
    <div class="col-md-3">
        <div class="profile-image-center">
            <img class="profile-image" src="{{imageLink}}" />
            <input type="file" name="documents" class="custom-file-input" (change)="onChangeImage($event)" [(ngModel)]="doc" #documents="ngModel">
        </div>
    </div>
    <div class="col-md-9" style="border:1px solid">
        <div class="profile-info">
            <!-- ===================User Name================== -->
            <div class="user-name">
                <div [hidden]="!isHidden">
                    <h1> {{username}} </h1>
                    <a (click)="isHidden = fales" class="edit"><span><i class="fa fa-edit"></i>Edit</span> </a>
                </div>
                <div [hidden]="isHidden">
                    <input [(ngModel)]="credential.firstName" type="text" />
                    <a (click)="isHidden = true">cancel</a>
                    <button class="btn btn-primary" (click)="UpdateUserName()">Update</button>
                </div>
            </div>
            <!-- ================Credential================== -->
            <div [hidden]="!hasCredential">
                <a (click)="openCredentialDialogBox()" class="edit"> Add Credentials </a>
            </div>
            <div [hidden]="hasCredential" class="credential">
                <a>{{credential.title}}</a>
                <a (click)="openCredentialDialogBox()" class="edit"><span><i class="fa fa-edit"></i>Edit</span> </a>
            </div>
            <!-- ================Description============= -->
            <div [hidden]="!hasDescription">
                <div [hidden]="!showDescription">
                    <a (click)="showDescription = false">Write Description about yourself</a>
                </div>
            </div>
            <div [hidden]="(!hasDescription && !showDescription)">
                <div [innerHTML]="credential.description"></div>
                <a class="edit"><span (click)="showDescription = false"><i class="fa fa-edit"></i>Edit</span> </a>
            </div>
            <div class="description-panel" style="border:1px solid;width:100%" [hidden]="showDescription">
                <quill-editor [(ngModel)]="credential.description" [ngModelOptions]="{standalone: true}"
                              [modules]="{toolbar: [['bold', 'italic', 'underline'], ['link', 'image']]}"
                              required name="answerField" #answerField="ngModel"></quill-editor>
                <div class="btn-container">
                    <a (click)="showDescription = true">cancel</a>
                    <button class="btn btn-primary" (click)="updateDecription()">Update</button>
                </div>
            </div>
            <ul>
                <li><a>Twitter</a></li>
                <li><a>Facebook</a></li>
                <li><a>Linkedin</a></li>
            </ul>
        </div>

    </div>
</div>