@using Microsoft.AspNetCore.Identity
@using AltaPerspectiva.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <style>
        .btn {
            margin-top: 8px;
            margin-bottom: 8px;
        }

        .navbar-brand {
            color: black !important;
            padding-top: 10px;
            padding-bottom: 10px;
            font-family: typogroteskrounded;
        }

        .anchaor {
            cursor: pointer;
            color: #100101;
        }

        .navbar-inverse .navbar-nav > li > a:hover {
            text-decoration: underline;
            color: #100101;
            font-weight: bolder;
        }
    </style>
    <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-controller="Manage" asp-action="Index" title="Manage" class="anchaor">Hello @UserManager.GetUserName(User)!</a>
            </li>
            <li>
                <button type="submit" class="btn ">Log off</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a asp-controller="Account" asp-action="Register">
                <font style="color: #000000;">
                    Sign Up
                </font>
            </a>
        </li>
        <li>
            <a asp-controller="Account" asp-action="Login">
                <font style="color: #000000;">
                    Log in
                </font>

            </a>
        </li>
    </ul>
}