@{
   // ViewData["Title"] = "Reset password confirmation";
    ViewData["Title"] = "Reestablecer contraseña";
}


<div class="col-md-6 col-md-offset-3">
    <form class="form-horizontal" role="form">
        <h1>@ViewData["Title"].</h1>
        <hr />
        <div class="form-group">
            <div class="col-md-10">
                Your password has been reset. Please <a href="http://altap.azurewebsites.net/">Click here to log in</a>.
            </div>

        </div>
    </form>
</div>

