<div class="modal-overlay z-modal" id="dialogModal" (click)="handleClick($event)">
    
    <div class="dialog" >
        <div class="exit-button" (click)="onClickedExit()">x</div>
        <header>
            <div class="question-title">
                <user-info [userObj]="question.userViewModel" [viewDate]="question?.createdOn" [isAnonymous]="question?.isAnonymous"></user-info>
                <h3>
                    {{question.title}}
                </h3>
            </div>
        </header>
        <div class="panel-article">
            <div class="details-container">
                <div class="article-details">
                    <user-info [userObj]="question.bestAnswer?.userViewModel" [viewDate]="question.bestAnswer?.answerDate"></user-info>
                    <div>
                        <p [innerHTML]="question.bestAnswer?.text"></p>
                        <button *ngIf="question.answerCount>1" class="btn btn-default" [routerLink]="['/question/detail',question.id]">View Other {{question?.answerCount-1}} answers</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
