<style>
    .disabledFollowingImg {
        height:25px;
        opacity: .1;
    }

    .enableFollowingImg {
        height:25px;
        opacity: 1;
    }
    .enableFollowingImg:hover{
        height:30px;
    }
</style>
<div class="modal-overlay z-modal" id="dialogModal" (click)="handleClick($event)">
    
    
    <div *ngIf="!showQuestionEditForm">
        <div #logginAnchor></div>
        <div class="dialog">
            <div class="exit-button" (click)="onClickedExit()">x</div>
            <header>
                <div class="question-title">
                    <question-header [question]="question"></question-header>
                    <h1>
                        <a [routerLink]="['/question/detail',question.id]">{{question.title}}</a>
                    </h1>
                </div>
            </header>
            <div class="panel-article">
                <div class="details-container">
                    <div class="article-details">
                        <user-info [userObj]="question.bestAnswer?.userViewModel" [viewDate]="question.bestAnswer?.answerDate"></user-info>
                        <div class="pull-right">
                            <a (click)="QuestionFollowing(question)">
                                <img [ngClass]="{ 'disabledFollowingImg': !isFollowing, 'enableFollowingImg': isFollowing  }" src="../../images/FollowingImage.svg"/>
                            </a>
                        </div>
                        <div>
                            <p class="answer-text" [innerHTML]="question.bestAnswer?.text"></p>
                            <ap-status [isQuestion]='false' [questionObj]="question" [answerObj]="question?.bestAnswer" (onQuestionDetailClicked)="onQuestionDetailClicked($event)"> </ap-status>
                            <ap-comment [isQuestion]='false' [questionId]="question?.id" [answerId]="question?.bestAnswer?.id"></ap-comment>
                            <br/>
                            <button *ngIf="question.answerCount>1" class="btn btn-info" [routerLink]="['/question/detail',question.id]">View Other {{question?.answerCount-1}} answers</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="showQuestionEditForm">
        <div class="dialog">
            <form (ngSubmit)="updateQuestion()" #questionVM="ngForm">
                <question-header [question]="question"></question-header>
                <h1 class="question-title">
                    <input style="width: 538px;" [(ngModel)]="editTitle" name="editField" #editField="ngModel" required/>
                </h1>
                <br/>
                <hr/>
                <textarea name="editBody" class="question-control" placeholder="Agrega detalle de tu pregunta - Optional" [(ngModel)]="editBody" [ngModelOptions]="{standalone: true}" rows="6" cols="86"></textarea>
                <div>
                    <button type="submit" class="btn btn-success fixed-height" [disabled]="!questionVM.form.valid">Update</button>
                    <button type="button" class="btn btn-info fixed-height" (click)="onQuestionDetailClicked(false)">Cancel</button>
                </div>
            </form>
            <ap-status [isQuestion]='false' [questionObj]="question" [answerObj]="question.bestAnswer" (onQuestionReportClicked)="onQuestionReportClicked($event,questionId,answerId)" (onQuestionDetailClicked)="onQuestionDetailClicked($event)"></ap-status>
        </div>
    </div>
</div>
