<style>
    .footer-container a {
        color: white;
    }

        .footer-container a:hover {
            color: wheat;
        }
</style>
@model dynamic
@{
    ViewData["Title"] = "Home Page";
}


@if (User?.Identity?.IsAuthenticated ?? false)
{
    if (!string.IsNullOrEmpty(Model) && !string.IsNullOrEmpty(User.Identity.Name))
    {
        <div class="body-minHeight">
            <app username="'@User.Identity.Name'" token="'@Model'">
                <div class="modal-overlay z-modal">
                    <div class="loader"></div>
                </div>
            </app>
        </div>
    }
}
else
{
    @*<div class="body-minHeight">
            <app username="">Loading ...</app>
        </div>*@
    <div class="body-minHeight">
        <app>
            <div class="modal-overlay z-modal">
                <div class="loader"></div>
            </div>
        </app>
    </div>
}

<div class="footer">
    <div class="row">
        <div class="col-md-4 col-md-push-4 footer-middle">
            <div><img class="footer-img" src="../images/LOGO CUADRADO.png"></div>
            <div>
                <a href="https://www.linkedin.com/in/altaperspectiva/"><i class="fa fa-linkedin fa-width"></i></a> &nbsp;
                <a href="https://twitter.com/AltaPerspectiva"><i class="fa fa-twitter fa-width"></i>&nbsp;</a>
                <a href="https://www.facebook.com/AltaPerspectivaInfo/"><i class="fa fa-facebook fa-width"></i>&nbsp;</a>
                <a href="https://www.instagram.com/altaperspectiva/"><i class="fa fa-instagram fa-width"></i></a>
            </div>
            <div>Copyright &copy; 2017 Alta Perspectiva. By <a href="http://www.nascenia.com/">Nascenia</a> </div>
        </div>
        <div class="col-md-4 col-md-pull-4 footer-left "><span><i class="fa fa-envelope"></i> &nbsp;&nbsp; <a onclick="window.location.href = 'mailto:info@altaperspectiva.com?subject=mail%for%support'">info@altaperspectiva.com</a> </span> </div>
        <div class="col-md-4 footer-right">
            <div><a href="http://altaperspectiva.com/conocemas/terminos-de-uso/">Términos de uso</a> </div>
            <div><a href="http://altaperspectiva.com/conocemas/politicas-de-privacidad/">Políticas de privacidad</a></div>
        </div>
    </div>
</div>