@model string
@{
    ViewData["Title"] = "Home Page";
}

@if (User?.Identity?.IsAuthenticated ?? false)
{
    if (!string.IsNullOrEmpty(Model) && !string.IsNullOrEmpty(User.Identity.Name))
    {
        <div class="body-minHeight">
            <app username="'@User.Identity.Name'+'#'+'@Model'">Loading ...</app>
        </div>
    }

}

else
{
    <div class="body-minHeight">
        <app username="">Loading ...</app>
    </div>
}

<div class="footer">
    <div class="footer-container">
        <div class="footer-left">
            <div class="borrder-circle">
                <i class="fa fa-facebook fa-2x"></i>
            </div>
            <div class="borrder-circle">
                <i class="fa fa-twitter fa-2x"></i>
            </div>
            <div class="borrder-circle">
                <i class="fa fa-instagram fa-2x"></i>
            </div>
        </div>
        <div class="footer-right">
            <div>nostros</div>
            <div>Terminos de usos</div>
            <div>Contactenos</div>
        </div>
    </div>
</div>