<style>
    .footer-container a {
        color: white;
    }

        .footer-container a:hover {
            color: wheat;
        }
</style>
@model dynamic
@{
    ViewData["Title"] = "Home Page";
}


@if (User?.Identity?.IsAuthenticated ?? false)
{
    if (!string.IsNullOrEmpty(Model) && !string.IsNullOrEmpty(User.Identity.Name))
    {
        <div class="body-minHeight">
            <app username="'@User.Identity.Name'" token="'@Model'">
                <div class="modal-overlay z-modal">
                    <div class="loader"></div>
                </div>
            </app>
        </div>
    }
}
else
{
    @*<div class="body-minHeight">
            <app username="">Loading ...</app>
        </div>*@
    <div class="body-minHeight">
        <app>
            <div class="modal-overlay z-modal">
                <div class="loader"></div>
            </div>
        </app>
    </div>
}

<div class="footer">
    <div class="footer-container">
        <div class="footer-left">
            <div class="borrder-circle">
                <a href="https://www.facebook.com/AltaPerspectivaInfo">
                    <i class="fa fa-facebook fa-2x">
                    </i>
                </a>

            </div>
            <div class="borrder-circle">
                <a href="https://twitter.com/AltaPerspectiva">
                    <i class="fa fa-twitter fa-2x">
                    </i>
                </a>

            </div>
            <div class="borrder-circle">
                <a href="https://www.instagram.com/altaperspectiva/">
                    <i class="fa fa-instagram fa-2x">
                    </i>
                </a>
            </div>
        </div>
    </div>
</div>