.list-title > h4 {
    margin-bottom: -10px;
    margin-top: 0;
    color: #6795cc;
    font-size: 15px;
}

.left-panel-list {
    color: #215ea7;
    font-size: 14px;
}
.left-panel-list li{
    margin-bottom:5px;
}
.menu-container {
    margin: 5px auto;
    width: 65%;
    font-size: 12px;
    font-family: myriadpro-regular;
}

ul {
    padding-left: 5px;
    list-style:none;
}

.menu-container > ul > li > a {
    color: #6b6868;
}

    .menu-container > ul > li > a:hover {
        color: #f7a756;
    }

.question-list > a {
}

.top-user-info {
    line-height: 12px;
    max-width: 110px;
    margin-top: 5px;
    float: left;
    margin-left: 5px;
    word-break: break-word;
}

    .top-user-info > a {
        color: #3b84dc;
    }

    .top-user-info > span {
        color: #6b6868;
    }

    .top-user-info > div {
        color: #b7b6b6;
    }

.user-list {
    padding-left: 13px;
}

    .user-list > li {
        list-style: none;
    }
