<div class="carousel">
    <ul class="slides">
        <li class="slide-item" >
            <img class="background-img" src="{{images[0].url}}" alt="background">
            <div class="hidden-xs banner-text">
                <div>Pregunta y comparte tu <em>conocimiento</em> </div>
                <div class="banner-arrow-container">sobre negocios
                    <img class="banner-arrow" src="../images/curved-arrow.png" alt="arrow" />
                </div>
                <a href="http://altaperspectiva.com/conocemas" class="btn-banner">Conoce más</a>
            </div>
        </li>
    </ul>
</div>