.carousel {
    overflow: hidden;
    width: 100%;
}

.indicator {
    margin-left: 3px;
}


.slides {
    height: 420px;
    list-style: none;
    position: relative;
    width: 100%;
    padding-left: 10%;
    /*width: 400%; /* Number of panes * 100% */
    overflow: hidden; /* Clear floats */
    /* Slide effect Animations*/
    -moz-animation: carousel 10s infinite;
    -webkit-animation: carousel 10s infinite;
    animation: carousel 10s infinite;
}

    .slides h3 {
        font-size: 11px;
        line-height: 13.5px;
        margin: auto;
        text-align: center;
    }
/*====Indicator Style======*/
.active {
    background-color: #ccc5c5;
}

.carousel-indicators {
    top: 235px;
}

.fixed-height { /*for scrol top*/
    height: 65px;
}
/*===============*/

ul {
    padding: 0;
    margin-bottom: 0;
}

.slide-item {
    position: relative;
    float: left;
    width: 30%; /* 100 / number of panes */
    transition: 1s;
    left: 0;
}

.carousel img {
    display: block;
    width: 100%;
    max-width: 100%;
    padding-top: 65px;
    height: 290px;
}

.carousel h2 {
    margin-bottom: 6px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    font-family: myriadpro-regular;
}

.carousel-indicators li {
    border: 1px solid #d0cece;
}
@media only screen and (max-width:767px){
    .carousel img {
        height: 172px;
    }
    .slides{
        height:178px;
    }
}