.carousel {
    overflow: hidden;
    width: 100%;
    padding: 20px 20px 0 20px;
}

.indicator {
    margin-left: 3px;
}

.banner-text {
    position: absolute;
    top: 25px;
    margin: auto;
    font-size: 30px;
    font-family: myriadpro-regular;
    color: white;
    text-align: center;
    line-height: 35px;
    left: 0;
    right: 0;
}

    .banner-text em {
        font-style: normal;
        color: #f6912b;
        font-weight: bold;
    }

.btn-banner {
    font-size: 17px;
    color: #eaa90c;
    background-color: #f5f5f5;
    border-color: #f5f5f5;
    border-radius: 8px;
    border: 1px solid #f5f5f5;
    font-style: italic;
    font-weight: bold;
    padding: 8px;
}

.banner-arrow-container {
    position: relative;
}

.banner-arrow {
    position: absolute;
    top: 14px;
    margin-left: 10px;
    height: 56px;
}


.slides {
    list-style: none;
    position: relative;
    width: 100%;
    overflow: hidden;
    -moz-animation: carousel 10s infinite;
    -webkit-animation: carousel 10s infinite;
    animation: carousel 10s infinite;
    max-height: 285px;
}

    .slides h3 {
        font-size: 11px;
        line-height: 13.5px;
        margin: auto;
        text-align: center;
    }
/*====Indicator Style======*/
.active {
    background-color: #ccc5c5;
}

.carousel-indicators {
    top: 235px;
}

.fixed-height { /*for scrol top*/
    height: 65px;
}
/*===============*/

ul {
    padding: 0;
    margin-bottom: 0;
}

.slide-item {
    position: relative;
    float: left;
    width: 100%; /* 100 / number of panes */
    transition: 1s;
    left: 0;
    margin-top: 64px;
}

.carousel .background-img {
    display: block;
    width: 100%;
    max-width: 100%;
}

.banner-txt-img {
}

.carousel h2 {
    margin-bottom: 6px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    font-family: myriadpro-regular;
}

.carousel-indicators li {
    border: 1px solid #d0cece;
}

@media only screen and (max-width:1024px) {
    .slide-item {
        height: 200px;
    }

    .banner-text {
        line-height: 30px;
        font-size: 27px;
        top: 15px;
    }
}

@media only screen and (max-width:767px) {
    .slide-item {
        height: 200px;
    }

    .banner-text {
        line-height: 11px;
        font-size: 12px;
        line-height: 22px;
    }

    .carousel .background-img {
        width: auto;
        max-width: none;
    }

    .btn-banner {
        font-size: 10px;
        padding: 3px;
    }

    .slides {
        height: 178px;
    }

    .banner-arrow {
        margin-left: 5px;
        height: 25px;
    }
}
