.fixed-category {
    position: fixed;
    width: 23% !important;
    left: -15px;
}


.center-body {
    padding-left: 15px;
    min-height: 150vh;
}

.alta-btn {
    padding: 4px 12px;
    font-family: typogroteskrounded;
    background-color: #ececec;
    border: none;
    border-radius: 10px;
    font-size: 16px;
}

.alta-btn-lg {
    padding: 15px;
    margin-bottom: 10px;
}

.row-fix {
    padding-right: 15px;
    padding-left: 15px;
}

.center-width {
    width: 56%;
    margin-left: auto;
    margin-right: auto;
}
/*Media query*/
@media only screen and (max-width:767px) {
    .center-width {
        width: 85%;
        float:none;
    }
}
