.comment-img {
    float: left;
    margin-right: 3px;
}

.comment-input > .form-control {
    width: 78%;
    display: inline-block;
}

.comment-panel {
    padding-left: 2%;
    margin-top: 10px;
}

.comment-container {
    display: inline-block;
}
