.social-icon{
    float:right;
}
.status-line{
    display:inline-block;
    font-size:12px;
}
.user-image {
    height: 40px;
    width: 40px;
    border-radius: 20px;
}
.social-image{
    height: 22px;
    width: 22px;
    border-radius: 11px;
    cursor: pointer;
}
.like-logo {
    height: 30px;
    padding: 0px 0px;
}
.left-border {
    float: left;
}
/*.questions-container {
    
}*/