<nav-bar></nav-bar>
<div class="row">
    <div class="col-md-10" >
        <div class="row" ><profile-info [credential]="credential"></profile-info></div>
        <div class="row">
            <div class="col-md-3" >
                <ul class="profile-leftmenu">
                    <li ><a class="link-with-number" tabindex="0" id="question-route" [routerLink]="['/dashboard/viewprofile',credential.userId,'user-question']">Questions<span>5</span> </a></li>
                    <li><a class="link-with-number" [routerLink]="['/dashboard/viewprofile',credential.userId,'user-answer']">Answers<span>5</span> </a></li>
                    <li><a class="link-with-number" [routerLink]="['/dashboard/viewprofile',credential.userId,'follower']" >Followers <span>5</span></a></li>
                    <li><a class="link-with-number" [routerLink]="['/dashboard/viewprofile',credential.userId,'following']">Followings <span>5</span></a></li>
                    <li><a [routerLink]="['/dashboard/viewprofile',credential.userId,'bookmark']">Bookmarks</a></li>
                    <li><a [routerLink]="['/dashboard/viewprofile',credential.userId,'blog-create']">Blogs</a></li>
                    <!--<li><a [routerLink]="['/dashboard/blog-post']">Blog Post</a></li>-->
                    <li><a [routerLink]="['/dashboard/blog-post']">Direct Question</a></li>
                </ul>
            </div>
            <div class="col-md-9 border-top-grey" >
                <div style="margin-top:-1px;">  <!--tricks to hide question top border--> 
                    <router-outlet></router-outlet>
                </div>
                
            </div>
        </div>
    </div>
    <div class="col-md-2" >
        <div>
            <h1>Credentials</h1>
        </div>
        <profile-stat></profile-stat>
    </div>
</div>