<nav-bar></nav-bar>
<div class="row">
    <div class="col-md-10" >
        <div class="row" ><profile-info [userObj]=""></profile-info></div>
        <div class="row">
            <div class="col-md-3" >
                <ul class="profile-leftmenu">
                    <li id="question"><a [routerLink]="['/dashboard/viewprofile/user-question',credential.id]">Question<span>5</span> </a></li>
                    <li><a [routerLink]="['/dashboard/viewprofile/user-answer',credential.id]">Answer<span>5</span> </a></li>
                    <li><a [routerLink]="['/dashboard/viewprofile/follower',credential.id]" >follower <span>5</span></a></li>
                    <li><a [routerLink]="['/dashboard/viewprofile/following',credential.id]">following <span>5</span></a></li>
                    <li><a [routerLink]="['/dashboard/viewprofile/bookmark',credential.id]">bookmark</a></li>
                    <li><a [routerLink]="['/dashboard/viewprofile/blog-create',credential.id]">Blog Create</a></li>
                    <li><a [routerLink]="['/dashboard/blog-post',credential.id]">Blog Post</a></li>
                </ul>
            </div>
            <div class="col-md-9" >
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    <div class="col-md-2" >
        <div>
            <h1>Credentials</h1>
        </div>
        <profile-stat></profile-stat>
    </div>
</div>