<style>
    .edit {
        color: #f6912b;
    }
    .edit:hover {
        text-decoration: underline;
    }
</style>


<nav-bar></nav-bar>

<div>
    <!--<div #credentialDialogAnchor></div>-->
    <div #employmentDialogAnchor></div>
    <div #educationDialogAnchor></div>
    <div #otherexperienceDialogAnchor></div>
    <div #placeDialogAnchor></div>
</div>
<div class="row">
    <div class="col-md-9" >
        <div class="row" *ngIf="credential" ><profile-info  [credential]="credential"></profile-info></div>
        <div class="row">
            <div class="col-md-3" >
                <ul class="profile-leftmenu">
                    <li ><a class="link-with-number" tabindex="0" id="question-route" [routerLink]="['/dashboard/viewprofile',credential.userId,'user-question']">Questions<span>{{profileParam?.questions}}</span> </a></li>
                    <li><a class="link-with-number" [routerLink]="['/dashboard/viewprofile',credential.userId,'user-answer']">Answers<span>{{profileParam?.answers}}</span> </a></li>
                    <li><a class="link-with-number" [routerLink]="['/dashboard/viewprofile',credential.userId,'follower']" >Followers <span>{{profileParam?.followers}}</span></a></li>
                    <li><a class="link-with-number" [routerLink]="['/dashboard/viewprofile',credential.userId,'following']">Followings <span>{{profileParam?.followings}}</span></a></li>
                    <li><a [routerLink]="['/dashboard/viewprofile',credential.userId,'bookmark']">Bookmarks <span>{{profileParam?.bookmarks}}</span></a></li>
                    <li><a [routerLink]="['/dashboard/viewprofile',credential.userId,'blog-create']">Blogs</a></li>
                    <!--<li><a [routerLink]="['/dashboard/blog-post']">Blog Post</a></li>-->
                    <li><a [routerLink]="['/dashboard/viewprofile',credential.userId,'direct-question']">Direct Question<span>{{profileParam?.directQuestions}}</span></a></li>
                </ul>
            </div>
            <div class="col-md-9 border-top-grey" >
                <div style="margin-top:-1px;">  <!--tricks to hide question top border--> 
                    <router-outlet></router-outlet>
                </div>                
            </div>
        </div>
    </div>
    <div class="col-md-3" >
        <div>
            <h3>Credentials</h3>
            
            <ul style="list-style-type: none;">
                <li>
                    <div *ngIf="employmentExists">                
                            <i class="fa-li fa fa-info-circle"></i> {{employment}}                
    `               </div>
                    <a  *ngIf="!employmentExists" (click)="openEmploymentDialogAnchor()" class="edit">
                        Add Employment
                    </a>
                </li>
                <li>
                    <div *ngIf="educationExists">
                        <i class="fa-li fa fa-university"></i> {{education}}                        
                    </div>
                    <a  *ngIf="!educationExists" (click)="openEducationDialogAnchor()" class="edit">
                        Add Education
                    </a>
                </li>
                <li>
                    <div *ngIf="placeExists">
                        <i class="fa-li fa fa-home"></i> {{place}}                        
                    </div>
                    <a  *ngIf="!placeExists" (click)="openPlaceDialogAnchor()" class="edit">
                        Add Place
                    </a>
                </li>
                <li>
                    <div *ngIf="othersExists">
                        <i class="fa-li fa fa-cog"></i> {{others}}                        
                    </div>
                    <a *ngIf="!othersExists" (click)="openOtherexperienceDialogAnchor()" class="edit">
                        Add Others
                    </a>
                </li>
                
            </ul>

         
        </div>
        <profile-category [categoryWiseAnswers]="categoryWiseAnswers"></profile-category>
        <profile-stat [profileParam]="profileParam"></profile-stat>
    </div>
</div>