.user-image {
    height: 40px;
    width: 40px;
    border-radius: 20px;
}

.answer-text {
    font-size: 16px;
    color: #797575;
}

.image-border {
    height: 300px;
    width: 3px;
}

.left-border {
    float: left;
}

.header-info {
    font-size: 12px;
}

.article-details {
    float: left;
    width: 98%;
    padding-left: 2%;
}

hr {
    width: 150%;
    margin-left: -30%;
}

h1 {
    margin-left: -17px;
}
