<style>
    .topAlign {
        margin-top: 47px;
        font-family: "myriadpro-regular";
        font-size: 12px;
        line-height: 16.5px;
        max-width: 150px;
        color: #888585;
    }
    .popover-panel ul{
        list-style:none;
        color: #888585;
        font-size: 12px;
        line-height: 16.5px;
    }
</style>


<div class="row row-fix inline-display">
    <div *ngIf="!isAnonymous">
        <div *ngIf="userObj">
            <img class="user-image " src="{{userObj?.imageUrl}}"
                 (mouseover)='over(userObj?.userId)' [popover]="userInfoDetailsPopover" [popoverOnHover]="true" [popoverCloseOnClickOutside]="true" />
            <div class="user-info">
                <div class="user-detail">
                    <a [routerLink]="['/dashboard/viewprofile/',userObj?.userId,'user-question']"> {{userObj?.name}}</a>
                    <br />
                    <div style="font-size: 12px;"> {{userObj?.occupation}}</div>
                </div>
                <div class="user-detail light-gray date-font">{{viewDate | date: 'dd MMM, yyyy'}}</div>
            </div>
        </div>
    </div>
    <!-- Anonymous user -->
    <div *ngIf="isAnonymous">
        <div *ngIf="userObj">
            <img class="user-image " src="../../../../profile/Anonymous.png" />
            <div class="user-info">
                <div class="user-detail">Anónimo</div>
                <div class="user-detail light-gray">{{viewDate | date: 'dd MMM, yyyy'}}</div>
            </div>
        </div>
    </div>
</div>
<popover-content #userInfoDetailsPopover>
    <div class="popover-panel">
        <ul>
            <li>
                <img class="user-image " src="{{userInfoDetails?.imageUrl}}" />
                <div class="user-info">
                    <div class="user-detail">
                        {{userInfoDetails?.fullName}}
                        <br />
                        <div style="font-size: 12px;"> {{userInfoDetails?.title}}</div>
                    </div>
                </div>
            </li>

        </ul>
        <br />
        <div class="topAlign">
            <ul class="fa-ul">
                <li *ngIf="userInfoDetails?.questionCount!=0"><i class="fa-li fa fa-question"></i><!--Questions-->Preguntas: {{userInfoDetails?.questionCount}}</li>
                <li *ngIf="userInfoDetails?.answerCount!=0">
                    <i class="fa-li fa fa-check-square"></i><!--Answers-->Respuestas: {{userInfoDetails?.answerCount}}
                </li>


                <li *ngIf="userInfoDetails?.education">
                    <i class="fa-li fa fa-university"></i><!--Education-->Educación: {{userInfoDetails?.education}}
                </li>
                <li *ngIf="userInfoDetails?.employment">
                    <i class="fa-li fa fa-info-circle"></i><!--Employment-->Labor: {{userInfoDetails?.employment}}
                </li>
                <li *ngIf="userInfoDetails?.place">
                    <i class="fa-li fa fa-home "></i><!--Place-->Lugar: {{userInfoDetails?.place}}
                </li>
                <li *ngIf="userInfoDetails?.otherExperience">
                    <i class="fa-li fa fa-cog"></i><!--Others-->Otros: {{userInfoDetails?.otherExperience}}
                </li>

                <li *ngIf="userInfoDetails?.questionViewCount!=0">
                    <i class="fa-li fa fa-eye">

                    </i><!--Views-->Leídos: {{userInfoDetails?.questionViewCount}}
                </li>
            </ul>
        </div>
    </div>
</popover-content>
