<div class="menu-container">
    <div class="row">
        <div>
            <div class="question-title"><h3>Category</h3></div>
            <img src="../../../../images/border-horizontal.png" />
            <div class="question-list">
                <a [routerLink]="['/question/home',category.id]" *ngFor="let category of categories"> {{category.name}}</a>
                
            </div>
        </div>
    </div>
    <!--<div class="row">
        <div >
            <div class="question-title">Related Content</div>
            <div class="question-list">
                <p *ngFor="let question of questionMenuList">&iquest;{{question.questiontext}}?</p>
            </div>
        </div>
    </div>-->
</div>