<style>
    .topAlign {
        margin-top: 47px;
        font-family: "myriadpro-regular";
        font-size: 12px;
        line-height: 16.5px;
        max-width: 150px;
        color: #888585;
    }

    .popover-panel ul {
        list-style: none;
        color: #888585;
        font-size: 12px;
        line-height: 16.5px;
        overflow-wrap:break-word;
        word-break:break-all;
    }
    top-user-info a:hover{
        outline: none;
    text-decoration: none;
    color: #F6912B !important;
    }
</style>
<div class="menu-container hidden-xs">
    <div class="list-title"><h4>Usuarios más destacados</h4></div>
    <img class="horizontal-border" src="../../../../images/border-horizontal.png" />
    <ul class="user-list" *ngIf="topFiveUsers.length>0">
        <li *ngFor="let topFiveUser of topFiveUsers">
            <img class="user-image img-circle" alt="{{topFiveUser?.name}}" src="{{topFiveUser?.imageUrl}}" (mouseover)='userover(topFiveUser?.userId)' [popover]="userInfoDetailsPopoveruser" [popoverOnHover]="true" [popoverCloseOnClickOutside]="true" />
            <div class="top-user-info">
                <a (click)="gotoProfile(topFiveUser?.userId)" for="contain" data-toggle="dropdown" > {{topFiveUser?.name}}</a>
                <span *ngIf="topFiveUser.occupation">{{topFiveUser.occupation}}</span>
                <div>{{topFiveUser.profileViewCount}} visitas</div>
            </div>
            <div class="clearfix"></div>
        </li>
        <li><div class="top-user-info"><a (click)="goToAllUser()">Ver más<!--View all users--></a></div></li>
    </ul>
</div>
<popover-content #userInfoDetailsPopoveruser>
    <div class="popover-panel">
        <ul style="list-style-type: none;">
            <li>
                <img class="user-image" alt="{{userInfoDetails?.fullName}}" src="{{userInfoDetails?.imageUrl}}" />

                <div class="user-info">
                    <div class="user-detail">
                        {{userInfoDetails?.fullName}}
                        <br />
                        <span style="font-size: 12px;"> {{userInfoDetails?.title}}</span>
                    </div>
                </div>
            </li>

        </ul>
        <br />
        <div class="topAlign">
            <ul class="fa-ul">
                <li *ngIf="userInfoDetails?.questionCount!=0">
                    <i class="fa-li fa fa-question"></i>
                    <!--Questions:-->
                    Preguntas:{{userInfoDetails?.questionCount}}
                </li>
                <li *ngIf="userInfoDetails?.answerCount!=0">
                    <i class="fa-li fa fa-check-square"></i><!--Answers:--> Respuestas:{{userInfoDetails?.answerCount}}
                </li>


                <li *ngIf="userInfoDetails?.education">
                    <i class="fa-li fa fa-university"></i><!--Education:-->
                    Educación: {{userInfoDetails?.education}}
                </li>
                <li *ngIf="userInfoDetails?.employment">
                    <i class="fa-li fa fa-info-circle"></i><!--Employment:--> Labor:{{userInfoDetails?.employment}}
                </li>
                <li *ngIf="userInfoDetails?.place">
                    <i class="fa-li fa fa-home "></i><!--Place:-->
                    Lugar:{{userInfoDetails?.place}}
                </li>
                <li *ngIf="userInfoDetails?.otherExperience">
                    <i class="fa-li fa fa-cog"></i>Otros:{{userInfoDetails?.otherExperience}}
                </li>

                <li *ngIf="userInfoDetails?.questionViewCount!=0">
                    <i class="fa-li fa fa-eye">
                    </i><!--Views:-->Veces leído: {{userInfoDetails?.questionViewCount}}
                </li>
            </ul>
        </div>
    </div>
</popover-content>
