<div class="menu-container">
    <div class="list-title"><h4>Temáticas más destacadas</h4></div>
    <img class="horizontal-border" src="../../../../images/border-horizontal.png" />
    <ul class="left-panel-list" *ngIf="topFiveTopics.length>0">
        <li *ngFor="let topFiveTopic of topFiveTopics">
            <!--<a [routerLink]="['/question/home',{topicId:topFiveTopic?.id,categoryId:topFiveTopic?.categoryId}]"> {{topFiveTopic?.topicName}}</a>-->
            <!-- Here last zero valueis dummy value -->
            <a [routerLink]="['/question/home',topFiveTopic?.categoryId,topFiveTopic?.id,0]"> {{topFiveTopic?.topicName}}</a>
        </li>
    </ul>
</div>