<div class="menu-container">
    <div class="list-title"><h4>Usuarios más destacados</h4></div>
    <img class="horizontal-border" src="../../../../images/border-horizontal.png" />
    <ul class="user-list" *ngIf="topFiveUsers.length>0">
        <li *ngFor="let topFiveUser of topFiveUsers">
            <img class="user-image img-circle" src="../../../../profile/{{topFiveUser?.imageUrl}}" />
            <div class="top-user-info">
                <a [routerLink]="['/dashboard/viewprofile/user-question',credential.id]"> {{topFiveUser?.name}}</a>
                <span>,Occupation of the user</span>
                <div>000 vistas</div>
            </div>
            <div class="clearfix"></div>
        </li>
    </ul>
</div>