.profile-leftmenu {
    color: #9d9d9b;
    width: 80%;
    margin: 0 auto;
    border-top: 1px solid #eeeeee;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    list-style: none;
}

.profile-leftmenu > li:focus {
    border-bottom: 1px solid #f5b372;
}

.profile-leftmenu > li > a {
    color: #9d9d9b;
}
.link-with-number{
    display: block;
}
.profile-leftmenu > li > a:focus {
    color: #f5b372;
    border-bottom: 1px solid;
}


.profile-leftmenu > li > a > span {
    float: right;
}
