.nav-user-info{
    margin-top: 16px;
    display: inline-block;
    color: black;
    margin-left:5px;
}
.user-info {
    /*padding-top: 15px;*/
    padding-left:15px;
    float: left;
    display: block;
    font-size: 12px;
    margin-top: 10px;
    font-family: myriadpro-regular;
}

.user-info:before {
    content: "";
    clear: both;
}

.user-image {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.user-detail {
    font-size: 13px;
    font-family: myriadpro-regular;
    line-height: 12px;
}
