<style>
    .article-details h3, article-details a {
        display: inline-block;
    }

    .filter-panel .btn {
        width: 200px;
    }
    /*.*/
</style>
<div>
    <div #dialogAnchor></div>
    <div #answerAnchor></div>
    <div #questionReport></div>
    <div #logginAnchor></div>
</div>
<div class="panel-article">
    <div class="questions-container">
        <div class="details-container" *ngIf="!showQuestionEditForm">
            <question-header [question]="question"></question-header>
            <h3 class="question-title">
                <a [routerLink]="['/question/detail',question.id]">{{question.title}}</a>
            </h3>
            <div class="article-details" (click)="answerDialogBoxIfNoAnswer(question)">
                <div *ngIf="!(question.answerCount>0)">
                    <button class="answer-button" (click)="answerDialogBox(question)">Responder<!--Answer--></button>
                </div>
                <div *ngIf="(question.answerCount>0)">
                    <user-info [userObj]="question.bestAnswer?.userViewModel" [viewDate]="question.bestAnswer?.answerDate" [isAnonymous]="question.bestAnswer?.isAnonymous"></user-info>
                    <div *ngIf="question.bestAnswer?.text" (click)="openDialogBox(question)">
                        <p [innerHTML]="clippedAnswer"></p>
                        <!--<span><a (click)="openDialogBox(question)">Read more..</a></span>-->
                    </div>
                    <div *ngIf="question.bestAnswer">
                        <ap-status [isQuestion]='false' [questionObj]="question" [answerObj]="question.bestAnswer" (onQuestionReportClicked)="onQuestionReportClicked($event,questionId,answerId)" (onQuestionDetailClicked)="onQuestionDetailClicked($event)"></ap-status>
                        <ap-comment [isQuestion]='false' [questionId]="question.id" [answerId]="question.bestAnswer?.id" (sendCommentCount)="sendCommentCount($event)"></ap-comment>
                    </div>
                </div>
            </div>
        </div>
        <!-- popup -->
        <div *ngIf="showQuestionEditForm">
            <div class="details-container">
                <form (ngSubmit)="updateQuestion()" #questionVM="ngForm">
                    <question-header [question]="question"></question-header>
                    <h1 class="question-title">
                        <input style="width:538px;" [(ngModel)]="editTitle" name="editField" #editField="ngModel" required />
                    </h1>
                    <br />
                    <hr />
                    <textarea name="editBody" class="question-control" placeholder="Agrega detalle de tu pregunta - Optional" [(ngModel)]="editBody" [ngModelOptions]="{standalone: true}" rows="6" cols="86"></textarea>
                    <div>
                        <button type="submit" class="btn btn-success fixed-height" [disabled]="!questionVM.form.valid">
                            <!--Update-->
                            Actualizar
                        </button>
                        <button type="button" class="btn btn-info fixed-height" (click)="onQuestionDetailClicked(false)">
                            <!--Cancel-->
                            Cancelar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
