<div>
    <div #dialogAnchor></div>
    <div #answerAnchor></div>
    <div #questionReport></div>
</div>
<div class="panel-article">
    <div class="questions-container">
        <div class="details-container" *ngIf="!showQuestionEditForm">
            <question-header [question]="question"></question-header>
            <h3 class="question-title">
                <a [routerLink]="['/question/detail',question.id]">{{question.title}}</a>
            </h3>
            <div class="article-details">
                <div *ngIf="!(question.answerCount>0)">
                    <button class="answer-button" (click)="answerDialogBox(question)">Answer</button>
                </div>
                <div *ngIf="(question.answerCount>0)">
                    <div (click)="openDialogBox(question)">
                        <div *ngIf="question.bestAnswer">
                            <user-info [userObj]="question.bestAnswer?.userViewModel" [viewDate]="question.bestAnswer?.answerDate"></user-info>
                        </div>
                        <div *ngIf="question.bestAnswer?.text">
                            <p [innerHTML]="question.bestAnswer?.text.substring(0, 300)"></p><span><a (click)="openDialogBox(question)">Read more..</a></span>
                        </div>
                    </div>
                    <div *ngIf="question.bestAnswer">
                        <ap-status [isQuestion]='false' [questionObj]="question" [answerObj]="question.bestAnswer" (onQuestionReportClicked)="onQuestionReportClicked($event,questionId,answerId)" (onQuestionDetailClicked)="onQuestionDetailClicked($event)" ></ap-status>
                        <ap-comment [isQuestion]='false' [questionId]="question.id" [answerId]="question.bestAnswer?.id" (sendCommentCount)="sendCommentCount($event)"></ap-comment>
                    </div>
                </div>
            </div>
        </div>
        <!-- popup -->
        <div *ngIf="showQuestionEditForm">
            <div class="details-container">
                <form (ngSubmit)="updateQuestion()" #questionVM="ngForm">
                    <question-header [question]="question"></question-header>
                    <h1 class="question-title">
                        <input style="width:538px;" [(ngModel)]="editTitle" name="editField" #editField="ngModel" required />
                    </h1>
                    <br />
                    <hr />
                    <textarea name="editBody" class="question-control" placeholder="Agrega detalle de tu pregunta - Optional" [(ngModel)]="editBody" [ngModelOptions]="{standalone: true}" rows="6" cols="86"></textarea>
                    <div>
                        <button type="submit" class="btn btn-success fixed-height" [disabled]="!questionVM.form.valid">Update</button>
                        <button type="button" class="btn btn-info fixed-height" (click)="onQuestionDetailClicked(false)">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
