<div>
    <div #dialogAnchor></div>
    <div #answerAnchor></div>
    <div #questionReport></div>
</div>
<div class="panel-article">
    <div class="questions-container">
        <div class="details-container">
            <question-header [question]="question"></question-header>
            <h3 class="question-title">
                <a [routerLink]="['/question/detail',question.id]">{{question.title}}</a>
            </h3>
            <div class="article-details">
                <div *ngIf="!(question.answerCount>0)">
                    <button class="answer-button" (click)="answerDialogBox(question)">Answer</button>
                </div>
                <div *ngIf="(question.answerCount>0)">
                    <div (click)="openDialogBox(question)">
                        <user-info [userObj]="question.bestAnswer?.userViewModel" [viewDate]="question.bestAnswer?.answerDate"></user-info>
                        <div *ngIf="question.bestAnswer?.text">
                            <p [innerHTML]="question.bestAnswer?.text.substring(0, 200)"></p><span><a (click)="openDialogBox(question)">Read more..</a></span>
                        </div>
                    </div>
                    <div *ngIf="question.bestAnswer">
                        <ap-status [isQuestion]='false' [questionObj]="question" [answerObj]="question.bestAnswer" (onQuestionReportClicked)="onQuestionReportClicked($event,questionId,answerId)"></ap-status>
                        <ap-comment [isQuestion]='false' [questionId]="question.id" [answerId]="question.bestAnswer?.id"></ap-comment>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>