
.question-info:before {
    content: "·";
    font-size: 12px;
    vertical-align: middle;
    line-height: 20px;
    margin-left: 5px;
    margin-right: 5px;
}
.question-header > li {
    font-family:myriadpro-regular;
    list-style: none;
    float: left;
    color: #a29996;
    font-size: 12px;
}
.question-header > li>a{
    font-family:myriadpro-regular;
    color: #a29996;
}
.question-header > li>a:hover{
    color: #f5c759;
}
.question-title{
    clear:both;
    font-size: 18px;
    line-height: 23.5px;
    height: 45px;
}