<style>
    .banner-container {
        position: relative;
        z-index: 9999999;
    }

    .fixed-top {
        position: fixed;
        top: 0;
    }

    :host(.background-set) {
        min-height: 66px !important;
        background-image: url(../images/background.png);
    }

    .body-padding {
        padding-top: 66px;
    }

    h2 {
        margin-left: 33%;
    }
</style>
<div class="row  body-padding">
    <apq-nav></apq-nav>
    <h2>iAsk question about business</h2>
    <apq-search></apq-search>
    
    <div class="col-md-3">
        <question-panel></question-panel>
    </div>
    <div class="col-md-6">
        <answer-panel></answer-panel>
    </div>
    <div class="col-md-3">
        
    </div>
</div>