<h1>Question Module</h1>
<!--<style>
    .banner-container {
        position: relative;
        z-index: 9999999;
    }

    .fixed-top {
        position: fixed;
        top: 0;
    }

    :host(.background-set) {
      min-height: 66px !important;
        background-image: url(../images/background.png);
}
    .body-padding {
        padding-top:135px;
    }
    h1{
            margin-left: 33%;
    }
</style>
<div class="banner-container">
    <ap-nav [className]="'backgroundset'"></ap-nav>
    
</div>
<div class="row body-padding">
    <h1>iAsk question about business</h1>
    <ap-search placeBottom=""></ap-search>
    <div class="col-md-3">
        Question List
    </div>
    <div class="col-md-6" >
        <answer-panel></answer-panel>
    </div>
    <div class="col-md-3">
        Advertisement
    </div>
</div>-->