<div class="tab-bar z-header">
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-tab">
            <li class="nav-home"><a routerLink="/dashboard/viewprofile">View Profile</a></li>
            <li class="nav-home"><a routerLink="/dashboard/editprofile/contact">Edit Profile</a></li>
            <li class="nav-home"><a routerLink="/">Edit Project</a></li>
            <li class="nav-home"><a routerLink="/">Finance</a></li>
            <li class="nav-home"><a routerLink="/">Edit Settings</a></li>
            <li class="nav-home"><a routerLink="/">Edit Service</a></li>
            <li class="nav-home"><a routerLink="/">Log Out</a></li>
        </ul>
    </div>
</div>