@model IndexViewModel
@{
    ViewData["Title"] = "Manage your account";
}

<h2>@ViewData["Title"].</h2>
<p class="text-success">@ViewData["StatusMessage"]</p>

<div class="form-horizontal" role="form">
    <h4>Change your account settings</h4>
    <hr />

    <div class="row">
        <div class="col-lg-1">Password:</div>
        <div class="col-lg-3">
            [
            @if (Model.HasPassword)
            {
                <a asp-controller="Manage" asp-action="ChangePassword">Change</a>
            }
            else
            {
                <a asp-controller="Manage" asp-action="SetPassword">Create</a>
            }
            ]
        </div>
    </div>

</div>
