<div class="row" >
    <div class="form-group col-md-6">
        <label>FIRST NAME</label>
        <input type="text" (ngModelChange)="onChangeModel($event)" [(ngModel)]="contact.firstName" class="form-control profile-form" >
    </div>
    <div class="col-md-6">
        <label>LAST NAME</label>
        <input type="text" [(ngModel)]="contact.lastName" class="form-control profile-form">
    </div>
    <!-- ==================== -->
    <div class="form-group col-md-6">
        <label>PREFERED E-MAIL</label>
        <input type="text" [(ngModel)]="contact.email" class="form-control profile-form">
    </div>
    <div class="col-md-6">
        <label>PHONE NUMBR</label>
        <input type="text" [(ngModel)]="contact.phone" class="form-control profile-form">
    </div>
    <!-- ==================== -->
    <div class="form-group col-md-6">
        <label>ADDRESS LINE 1</label>
        <input type="text" [(ngModel)]="contact.address1" class="form-control profile-form">
    </div>
    <div class="col-md-6">
        <label>ADDRESS LINE 2</label>
        <input type="text" [(ngModel)]="contact.address2" class="form-control profile-form">
    </div>
    <!-- ==================== -->
    <div class="form-group col-md-6">
        <label>COUNTRY</label>
        <input type="text" [(ngModel)]="contact.country" class="form-control profile-form">
    </div>
    <div class="col-md-6">
        <label>REGION</label>
        <input type="text" [(ngModel)]="contact.region" class="form-control profile-form">
    </div>
    <!-- ==================== -->
    <div class="form-group col-md-6">
        <label>CITY</label>
        <input type="text" [(ngModel)]="contact.city" class="form-control profile-form">
    </div>
</div>