<style>
    .mid-label {
        float: left;
        margin-top: 10px;
    }

    .text-panel {
        margin-top: 7px;
    }

    .link-icon {
        transform: rotate(90deg);
        font-size: 16px;
    }

    input[type=radio ] {
        display: inline-block;
        margin-left: -28px;
        padding-left: 28px;
        background: url('checks.png') no-repeat 0 0;
        line-height: 24px;
    }
</style>
<div class="row">
    <div class="form-group col-md-6">
        <label>TITLE*</label>
        <input [(ngModel)]="insight.title" type="text" class="form-control profile-form">
    </div>
    <div class="form-group col-md-6">
        <label>PUBLICATION</label>
        <input [(ngModel)]="insight.publication" type="text" class="form-control profile-form">
    </div>
    <!-- =============== -->
    <div class="form-group col-md-6">
        <label>DATE</label>
        <div class="row form-group">
            <div class="col-md-5">
                <input [(ngModel)]="insight.dateMonth" type="number" placeholder="MONTH" class="form-control profile-form">
            </div>

            <div class="col-md-5">
                <input [(ngModel)]="insight.dateYear" type="number" min="1900" max="2099" step="1" value="2016" placeholder="YEAR" class="form-control profile-form">
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-4">
                <label class="radio-inline">
                    <input [(ngModel)]="insight.isHyperLink" type="radio" name="optradio">HYPERLINK
                </label>
            </div>

            <div class="col-md-8">
                <i class="fa fa-link"> </i>
                <label class="radio-inline">

                    <input [(ngModel)]="insight.isDocument" type="radio" name="optradio">UPLOAD DOCUMENT
                </label>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12">
                <input [(ngModel)]="insight.documentLink" type="text" class="form-control profile-form">
            </div>
        </div>
    </div>
    <div class="form-group col-md-6 text-panel">
        <label>DESCRIPTION*</label>
        <textarea [(ngModel)]="insight.description" rows="5" maxlength="3" class="form-control profile-form"></textarea>
    </div>
</div>