<style>
    .profile-form {
        text-align: center;
    }

    .skil-points {
        background-color: #ededed;
        padding: 5px;
        margin: 5px 0;
        border-radius: 7px;
        text-align: center;
    }

    .button-container {
        margin-top: 10px;
    }

    .point-cointeiner {
        margin: 0 5px;
    }

    .add-btn {
        width: 100%;
        height: 30px;
        border-radius: 0;
        border: none;
        background-color: #efb153;
    }

    .done-btn {
        display: block;
        width: 70px;
        margin: 5px auto;
        background-color: #f29200;
    }

    .closebtn {
        padding-left: 10px;
        color: #888;
        font-weight: bold;
        float: right;
        font-size: 20px;
        cursor: pointer;
    }

        .closebtn:hover {
            color: #000;
        }
</style>
<form>
    <div class="info-form">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="heading">{{_headerName}}</div>
                <div class="pull-right heading">Required(*)</div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="row">
                        <div class="point-cointeiner">
                            <div class="col-md-4" *ngFor="let practice of practiceArea.practiceArea">
                                <div class="skil-points">
                                    {{practice}}<span (click)="remove(practice)" class="closebtn">&times;</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-offset-3 button-container">
                        <input type="text" [(ngModel)]="practiceArea.PracticeAreaName" name="PracticeAreaName" placeholder="ADD PRACTICE AREA" (click)="Submit()" class="form-control profile-form">
                        <button class="btn btn-default done-btn">DONE</button>
                    </div>
                </div>

            </div>
        </div>
        <div class="submit-panel">
            <button class="btn btn-default menu-button">Cancel</button>
            <button class="btn btn-default menu-button" (click)="Submit()">Submit</button>
        </div>
    </div>
</form>